/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'MuseoSansCyrl100';
  src: url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot");
  src: url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff2") format("woff2"), url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"), url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.ttf") format("truetype"), url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.svg#MuseoSansCyrl100") format("svg");
}
@font-face {
  font-family: 'MuseoSansCyrl300';
  src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot");
  src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff") format("woff"), url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.svg#MuseoSansCyrl100") format("svg");
}
@font-face {
  font-family: 'MuseoSansCyrl500';
  src: url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot");
  src: url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff") format("woff"), url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.ttf") format("truetype"), url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.svg#MuseoSansCyrl500") format("svg");
}
@font-face {
  font-family: 'MuseoSansCyrl700';
  src: url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot");
  src: url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff") format("woff"), url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.svg#MuseoSansCyrl700") format("svg");
}
@font-face {
  font-family: 'MuseoSansCyrl900';
  src: url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.eot");
  src: url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.woff") format("woff"), url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.svg#MuseoSansCyrl100") format("svg");
}
/* line 5, ../sass/main.scss */
body {
  font-size: 16px;
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  color: #113d59;
  background: #f7f9fa;
  overflow-x: hidden;
}

/* line 12, ../sass/main.scss */
button, input, select, span {
  outline: none;
}

/* line 15, ../sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 18, ../sass/main.scss */
.container {
  width: 1160px;
  margin: 0 auto;
}

/* line 22, ../sass/main.scss */
button {
  cursor: pointer;
}

/* line 26, ../sass/main.scss */
header .top_line {
  background: #fff;
  padding: 20px 0;
}
/* line 29, ../sass/main.scss */
header .top_line .logo {
  width: 280px;
}
/* line 31, ../sass/main.scss */
header .top_line .logo img {
  width: 260px;
  margin-bottom: 10px;
}
/* line 35, ../sass/main.scss */
header .top_line .logo a {
  text-decoration: none;
  letter-spacing: 6px;
  color: #113d59;
}
/* line 41, ../sass/main.scss */
header .top_line .address {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 55%;
  font-size: 14px;
  color: #636f76;
  padding-top: 5px;
}
/* line 49, ../sass/main.scss */
header .top_line .address .address_block {
  padding-left: 15px;
}
/* line 51, ../sass/main.scss */
header .top_line .address .address_block a {
  margin-top: 5px;
  display: block;
  font-family: "MuseoSansCyrl100", sans-serif, arial;
  text-decoration: underline;
  color: #636f76;
  cursor: pointer;
}
/* line 60, ../sass/main.scss */
header .top_line .address .address_block:hover a {
  text-decoration: none;
}
/* line 65, ../sass/main.scss */
header .top_line .address .map {
  background: url(../img/icon/location_icon.png) no-repeat left 1px;
}
/* line 68, ../sass/main.scss */
header .top_line .address .phone {
  background: url(../img/icon/phone_icon.png) no-repeat left 1px;
}
/* line 73, ../sass/main.scss */
header .top_line .button .sell_car {
  width: 180px;
  height: 40px;
  font-family: "MuseoSansCyrl500", sans-serif, arial;
  border: none;
  border-radius: 4px;
  background: #e74c3c;
  color: #fff;
  font-size: 14px;
}
/* line 82, ../sass/main.scss */
header .top_line .button .sell_car:hover {
  background: #ff3824;
}
/* line 86, ../sass/main.scss */
header .top_line .button .open_menu {
  display: none;
  border: none;
  width: 38px;
  height: 30px;
  position: absolute;
  top: 1px;
  right: 0;
  background: url(../img/icon/menu_icon.png) no-repeat center;
}
/* line 98, ../sass/main.scss */
header .top_line_wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* line 104, ../sass/main.scss */
header .top_slider p {
  font-size: 60px;
  font-family: "MuseoSansCyrl900", sans-serif, arial;
  color: #fff;
  text-transform: uppercase;
  margin-top: 160px;
  line-height: 85px;
}
/* line 112, ../sass/main.scss */
header .top_slider .slide {
  height: 600px;
}
/* line 115, ../sass/main.scss */
header .top_slider .slide1 {
  background: url(../img/top_slider_img.jpg) no-repeat center;
  background-size: cover;
}
/* line 119, ../sass/main.scss */
header .top_slider .slide2 {
  background: url(../img/top_slider_img2.jpg) no-repeat center;
  background-size: cover;
}
/* line 123, ../sass/main.scss */
header .top_slider .slide3 {
  background: url(../img/top_slider_img3.jpg) no-repeat center;
  background-size: cover;
}
/* line 127, ../sass/main.scss */
header .top_slider .slick-prev {
  left: 200px;
}
/* line 130, ../sass/main.scss */
header .top_slider .slick-next {
  right: 200px;
  transform: rotate(180deg);
  transform-origin: 50% 25%;
}
/* line 135, ../sass/main.scss */
header .top_slider .slick-prev, header .top_slider .slick-next {
  width: 50px;
  height: 50px;
  z-index: 10;
  background: url(../img/icon/top_slider_arrow.png) no-repeat center;
  opacity: .6;
}
/* line 141, ../sass/main.scss */
header .top_slider .slick-prev:hover, header .top_slider .slick-next:hover {
  opacity: 1;
}
/* line 144, ../sass/main.scss */
header .top_slider .slick-prev:before, header .top_slider .slick-next:before {
  display: none;
}
/* line 148, ../sass/main.scss */
header .top_slider .slick-dots {
  bottom: 55px;
}
/* line 150, ../sass/main.scss */
header .top_slider .slick-dots li {
  margin: 0 7px;
}
/* line 153, ../sass/main.scss */
header .top_slider .slick-dots li.slick-active button {
  opacity: 1;
}
/* line 158, ../sass/main.scss */
header .top_slider .slick-dots button {
  background: #fff;
  width: 30px;
  height: 4px;
  border-radius: 3px;
  padding: 0;
  opacity: .4;
}
/* line 165, ../sass/main.scss */
header .top_slider .slick-dots button:before {
  display: none;
}

/* line 176, ../sass/main.scss */
.section_title h1 {
  font-size: 26px;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  text-align: center;
  text-transform: uppercase;
}
/* line 182, ../sass/main.scss */
.section_title h2 {
  font-size: 26px;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  text-align: center;
  text-transform: uppercase;
}

/* line 189, ../sass/main.scss */
.buy_out {
  background: url("../img/bg_section.png") no-repeat center;
  background-size: cover;
  height: 960px;
  padding-top: 110px;
  font-size: 16px;
}
/* line 195, ../sass/main.scss */
.buy_out .section_title {
  margin-bottom: 43px;
}
/* line 198, ../sass/main.scss */
.buy_out p {
  line-height: 22px;
  margin-bottom: 30px;
}
/* line 202, ../sass/main.scss */
.buy_out .cooperate_wrap {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}
/* line 206, ../sass/main.scss */
.buy_out .cooperate_wrap .cooperate_block {
  width: 570px;
  height: 130px;
  text-align: center;
  font-size: 18px;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  border-radius: 4px;
  border: 2px solid #113d59;
  color: #113d59;
  text-decoration: none;
  display: flex;
}
/* line 217, ../sass/main.scss */
.buy_out .cooperate_wrap .cooperate_block span {
  margin: auto;
}
/* line 220, ../sass/main.scss */
.buy_out .cooperate_wrap .cooperate_block.individual {
  background: url(../img/individual_sprite.png) no-repeat 15px 15px;
}
/* line 222, ../sass/main.scss */
.buy_out .cooperate_wrap .cooperate_block.individual:hover {
  background: url(../img/individual_sprite.png) no-repeat 15px -80px #113d59;
  color: #fff;
}
/* line 227, ../sass/main.scss */
.buy_out .cooperate_wrap .cooperate_block.entity {
  background: url(../img/entity_sprite.png) no-repeat 20px 0;
  padding-left: 85px;
}
/* line 230, ../sass/main.scss */
.buy_out .cooperate_wrap .cooperate_block.entity:hover {
  background: url(../img/entity_sprite.png) no-repeat 20px -120px #113d59;
  color: #fff;
}

/* line 239, ../sass/main.scss */
.comfort {
  padding: 50px 0 55px;
}
/* line 241, ../sass/main.scss */
.comfort .comfort_wrap {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
/* line 245, ../sass/main.scss */
.comfort .comfort_wrap .information {
  width: 600px;
}
/* line 247, ../sass/main.scss */
.comfort .comfort_wrap .information p {
  line-height: 22px;
  margin-bottom: 30px;
}
/* line 250, ../sass/main.scss */
.comfort .comfort_wrap .information p:first-child {
  margin-top: 40px;
}
/* line 255, ../sass/main.scss */
.comfort .comfort_wrap .advantages {
  width: 500px;
  background: #fff;
  border-radius: 10px;
}
/* line 259, ../sass/main.scss */
.comfort .comfort_wrap .advantages ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 30px 0;
  padding-left: 40px;
}
/* line 267, ../sass/main.scss */
.comfort .comfort_wrap .advantages li {
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 100px;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  position: relative;
}
/* line 274, ../sass/main.scss */
.comfort .comfort_wrap .advantages li:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: #113d59;
}
/* line 286, ../sass/main.scss */
.comfort .comfort_wrap .advantages li.price:before {
  background: url(../img/icon/price_icon.png) no-repeat center #113d59;
}
/* line 291, ../sass/main.scss */
.comfort .comfort_wrap .advantages li.document:before {
  background: url(../img/icon/document_icon.png) no-repeat center #113d59;
}
/* line 296, ../sass/main.scss */
.comfort .comfort_wrap .advantages li.costs:before {
  background: url(../img/icon/money_box_icon.png) no-repeat center #113d59;
}
/* line 301, ../sass/main.scss */
.comfort .comfort_wrap .advantages li.warranty:before {
  background: url(../img/icon/warranty_icon.png) no-repeat center #113d59;
}

/* line 309, ../sass/main.scss */
.redeemable_car {
  height: 765px;
  background: url(../img/bg_buyout_normal.jpg) center;
  background-size: cover;
  padding-top: 80px;
}
/* line 314, ../sass/main.scss */
.redeemable_car.moscow {
  background: url(../img/bg_buyout_msk.jpg) center;
}
/* line 317, ../sass/main.scss */
.redeemable_car .car_item_wrap {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 323, ../sass/main.scss */
.redeemable_car .car_item {
  width: 260px;
  height: 80px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #113d59;
  margin-bottom: 40px;
  cursor: pointer;
  padding-left: 100px;
  align-items: center;
  display: flex;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  color: #113d59;
  text-decoration: none;
  background: url(../img/icon/car_sprite.png) repeat-y #fff;
}
/* line 338, ../sass/main.scss */
.redeemable_car .car_item.active {
  color: #fff;
  background-color: #113d59;
}
/* line 342, ../sass/main.scss */
.redeemable_car .car_item.new {
  background-position: 0 330px;
}
/* line 344, ../sass/main.scss */
.redeemable_car .car_item.new.active {
  background-position: 0 387px;
}
/* line 348, ../sass/main.scss */
.redeemable_car .car_item.previously_used {
  background-position: 0 208px;
}
/* line 350, ../sass/main.scss */
.redeemable_car .car_item.previously_used.active {
  background-position: 0 269px;
}
/* line 354, ../sass/main.scss */
.redeemable_car .car_item.broken {
  background-position: 0 -61px;
}
/* line 356, ../sass/main.scss */
.redeemable_car .car_item.broken.active {
  background-position: 0 5px;
}
/* line 360, ../sass/main.scss */
.redeemable_car .car_item.moscow {
  background-position: 0 460px;
}
/* line 362, ../sass/main.scss */
.redeemable_car .car_item.moscow.active {
  background-position: 0 548px;
}
/* line 366, ../sass/main.scss */
.redeemable_car .car_item.region {
  background-position: 0 72px;
}
/* line 368, ../sass/main.scss */
.redeemable_car .car_item.region.active {
  background-position: 0 143px;
}
/* line 372, ../sass/main.scss */
.redeemable_car .car_item.commercial {
  background-position: 0px -345px;
}
/* line 374, ../sass/main.scss */
.redeemable_car .car_item.commercial.active {
  background-position: 0 -275px;
}
/* line 378, ../sass/main.scss */
.redeemable_car .car_item.corporate {
  background-position: 0px -474px;
}
/* line 380, ../sass/main.scss */
.redeemable_car .car_item.corporate.active {
  background-position: 0px -411px;
}
/* line 384, ../sass/main.scss */
.redeemable_car .car_item.car_park {
  background-position: 0px -206px;
}
/* line 386, ../sass/main.scss */
.redeemable_car .car_item.car_park.active {
  background-position: 0px -133px;
}
/* line 391, ../sass/main.scss */
.redeemable_car .car_img {
  background: url(../img/new_car.png) no-repeat center;
  height: 360px;
}

/* line 396, ../sass/main.scss */
.bought_car {
  height: 800px;
  padding-top: 80px;
  clear: both;
}
/* line 401, ../sass/main.scss */
.bought_car .section_title span {
  color: #e74c3c;
}
/* line 405, ../sass/main.scss */
.bought_car .bought_car_slider {
  margin: 55px 0;
}
/* line 407, ../sass/main.scss */
.bought_car .bought_car_slider .car_item {
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
}
/* line 411, ../sass/main.scss */
.bought_car .bought_car_slider .car_item .car_photo {
  height: 230px;
  overflow: hidden;
}
/* line 414, ../sass/main.scss */
.bought_car .bought_car_slider .car_item .car_photo img {
  width: 100%;
  height: auto;
}
/* line 420, ../sass/main.scss */
.bought_car .bought_car_slider .car_info {
  padding: 30px 40px;
  font-size: 14px;
  font-family: "MuseoSansCyrl500", sans-serif, arial;
}
/* line 424, ../sass/main.scss */
.bought_car .bought_car_slider .car_info span {
  line-height: 25px;
}
/* line 427, ../sass/main.scss */
.bought_car .bought_car_slider .car_info .name {
  font-size: 22px;
  margin-bottom: 20px;
}
/* line 431, ../sass/main.scss */
.bought_car .bought_car_slider .car_info .info_wrap {
  display: inline-block;
}
/* line 434, ../sass/main.scss */
.bought_car .bought_car_slider .car_info .year, .bought_car .bought_car_slider .car_info .mileage {
  font-family: "MuseoSansCyrl300", sans-serif, arial;
}
/* line 437, ../sass/main.scss */
.bought_car .bought_car_slider .car_info .date_bought_wrap {
  float: right;
  width: 95px;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
}
/* line 442, ../sass/main.scss */
.bought_car .bought_car_slider .car_info .bought_price {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: 2px solid #113d59;
  border-radius: 4px;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  color: #113d59;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
/* line 460, ../sass/main.scss */
.bought_car .bought_car_slider .car_info .bought_price:hover {
  color: #fff;
  background: #113d59;
}
/* line 466, ../sass/main.scss */
.bought_car .bought_car_slider .slick-slide {
  margin: 0 20px;
}
/* line 469, ../sass/main.scss */
.bought_car .bought_car_slider .slick-list {
  margin: 0 -20px;
}
/* line 472, ../sass/main.scss */
.bought_car .bought_car_slider .slick-prev, .bought_car .bought_car_slider .slick-next {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  z-index: 10;
  -webkit-box-shadow: 0 3px 5px 0 rgba(124, 149, 161, 0.2);
  -moz-box-shadow: 0 3px 5px 0 rgba(124, 149, 161, 0.2);
  box-shadow: 0 3px 5px 0 rgba(124, 149, 161, 0.2);
  opacity: .5;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
/* line 486, ../sass/main.scss */
.bought_car .bought_car_slider .slick-prev:hover, .bought_car .bought_car_slider .slick-next:hover {
  opacity: 1;
}
/* line 489, ../sass/main.scss */
.bought_car .bought_car_slider .slick-prev:before, .bought_car .bought_car_slider .slick-next:before {
  display: none;
}
/* line 493, ../sass/main.scss */
.bought_car .bought_car_slider .slick-prev {
  left: -248px;
  background: url(../img/icon/slider_arrow.png) center no-repeat #fff;
}
/* line 497, ../sass/main.scss */
.bought_car .bought_car_slider .slick-next {
  background: url(../img/icon/slider_arrow.png) center no-repeat #fff;
  transform: rotate(180deg);
  transform-origin: 50% 25%;
  -webkit-box-shadow: 0 -3px 5px 0 rgba(124, 149, 161, 0.2);
  -moz-box-shadow: 0 -3px 5px 0 rgba(124, 149, 161, 0.2);
  box-shadow: 0 -3px 5px 0 rgba(124, 149, 161, 0.2);
  right: -248px;
}
/* line 508, ../sass/main.scss */
.bought_car .watch_all {
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 50px;
  border: 2px solid #113d59;
  border-radius: 4px;
  background: transparent;
  font-family: "MuseoSansCyrl500", sans-serif, arial;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #113d59;
  line-height: 47px;
}
/* line 522, ../sass/main.scss */
.bought_car .watch_all:hover {
  background: #113d59;
  color: #fff;
}

/* line 528, ../sass/main.scss */
.how_work {
  height: 740px;
  background: url(../img/bg_we_work.jpg) center;
  background-size: cover;
  padding-top: 60px;
  overflow: hidden;
}
/* line 535, ../sass/main.scss */
.how_work .section_title h2 {
  color: #fff;
}

/* line 540, ../sass/main.scss */
.how_work_small {
  margin-top: 70px;
}
/* line 542, ../sass/main.scss */
.how_work_small .work_item_wrap {
  display: flex;
  max-width: 760px;
  justify-content: space-around;
}
/* line 546, ../sass/main.scss */
.how_work_small .work_item_wrap .work_item {
  width: 110px;
  text-align: center;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  position: relative;
}
/* line 551, ../sass/main.scss */
.how_work_small .work_item_wrap .work_item:before {
  content: '';
  position: absolute;
  top: 40px;
  right: -44px;
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/icon/work_arrow.png) no-repeat center;
  background-size: 10px;
}
/* line 563, ../sass/main.scss */
.how_work_small .work_item_wrap .work_item:last-child:before {
  display: none;
}
/* line 568, ../sass/main.scss */
.how_work_small .work_item_wrap .img_item {
  width: 102px;
  height: 102px;
  margin-bottom: 40px;
  background: url(../img/icon/howwork_sprite.png);
}
/* line 573, ../sass/main.scss */
.how_work_small .work_item_wrap .img_item.tell {
  background-position: -13px -10px;
}
/* line 575, ../sass/main.scss */
.how_work_small .work_item_wrap .img_item.tell:hover {
  background-position: -136px -10px;
}
/* line 579, ../sass/main.scss */
.how_work_small .work_item_wrap .img_item.car {
  background-position: -13px -133px;
}
/* line 581, ../sass/main.scss */
.how_work_small .work_item_wrap .img_item.car:hover {
  background-position: -136px -133px;
}
/* line 585, ../sass/main.scss */
.how_work_small .work_item_wrap .img_item.doc {
  background-position: -13px -259px;
}
/* line 587, ../sass/main.scss */
.how_work_small .work_item_wrap .img_item.doc:hover {
  background-position: -136px -259px;
}
/* line 591, ../sass/main.scss */
.how_work_small .work_item_wrap .img_item.cash {
  background-position: -13px -385px;
}
/* line 593, ../sass/main.scss */
.how_work_small .work_item_wrap .img_item.cash:hover {
  background-position: -136px -385px;
}

/* line 600, ../sass/main.scss */
.reviews_block {
  margin-top: 80px;
  height: 525px;
}
/* line 603, ../sass/main.scss */
.reviews_block .reviews_wrap {
  margin: 55px 0;
  display: flex;
  justify-content: space-between;
}
/* line 607, ../sass/main.scss */
.reviews_block .reviews_wrap .reviews {
  width: 560px;
  height: 280px;
  background: #fff;
  opacity: 1;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
}
/* line 616, ../sass/main.scss */
.reviews_block .reviews_wrap .reviews iframe {
  width: 100%;
  height: 100%;
}
/* line 622, ../sass/main.scss */
.reviews_block .watch_all {
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 50px;
  border: 2px solid #113d59;
  border-radius: 4px;
  background: transparent;
  font-family: "MuseoSansCyrl500", sans-serif, arial;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #113d59;
  line-height: 47px;
}
/* line 636, ../sass/main.scss */
.reviews_block .watch_all:hover {
  background: #113d59;
  color: #fff;
}

/* line 642, ../sass/main.scss */
.partners {
  padding: 55px 0;
  background: #fff;
}
/* line 645, ../sass/main.scss */
.partners .partners_slider {
  margin-top: 55px;
}
/* line 647, ../sass/main.scss */
.partners .partners_slider a {
  display: flex;
  height: 50px;
}
/* line 650, ../sass/main.scss */
.partners .partners_slider a img {
  margin: auto;
}
/* line 654, ../sass/main.scss */
.partners .partners_slider .slick-prev, .partners .partners_slider .slick-next {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  z-index: 10;
  -webkit-box-shadow: 0 3px 5px 0 rgba(124, 149, 161, 0.2);
  -moz-box-shadow: 0 3px 5px 0 rgba(124, 149, 161, 0.2);
  box-shadow: 0 3px 5px 0 rgba(124, 149, 161, 0.2);
  opacity: .5;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
/* line 668, ../sass/main.scss */
.partners .partners_slider .slick-prev:hover, .partners .partners_slider .slick-next:hover {
  opacity: 1;
}
/* line 671, ../sass/main.scss */
.partners .partners_slider .slick-prev:before, .partners .partners_slider .slick-next:before {
  display: none;
}
/* line 675, ../sass/main.scss */
.partners .partners_slider .slick-prev {
  left: -248px;
  background: url(../img/icon/slider_arrow.png) center no-repeat #fff;
}
/* line 679, ../sass/main.scss */
.partners .partners_slider .slick-next {
  right: -248px;
  background: url(../img/icon/slider_arrow.png) center no-repeat #fff;
  transform: rotate(180deg);
  transform-origin: 50% 25%;
  -webkit-box-shadow: 0 -3px 5px 0 rgba(124, 149, 161, 0.2);
  -moz-box-shadow: 0 -3px 5px 0 rgba(124, 149, 161, 0.2);
  box-shadow: 0 -3px 5px 0 rgba(124, 149, 161, 0.2);
}

/* line 690, ../sass/main.scss */
footer {
  background: #f7f9fa;
  clear: both;
}
/* line 693, ../sass/main.scss */
footer nav.menu {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3);
}
/* line 699, ../sass/main.scss */
footer .phone_block {
  display: none;
  background: #113d59;
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3);
}
/* line 706, ../sass/main.scss */
footer .footer_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
/* line 711, ../sass/main.scss */
footer .address {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}
/* line 715, ../sass/main.scss */
footer .address .address_block {
  position: relative;
  width: 190px;
  font-size: 14px;
  padding-left: 30px;
  color: #636f76;
}
/* line 721, ../sass/main.scss */
footer .address .address_block span {
  position: absolute;
  top: -15px;
  left: 30px;
  font-size: 12px;
  font-family: "MuseoSansCyrl100", sans-serif, arial;
}
/* line 728, ../sass/main.scss */
footer .address .address_block.phone {
  width: 190px;
  background: url(../img/icon/phone_icon.png) no-repeat 15px 1px;
}
/* line 732, ../sass/main.scss */
footer .address .address_block.map {
  width: 270px;
  background: url(../img/icon/location_icon.png) no-repeat 18px 1px;
}
/* line 736, ../sass/main.scss */
footer .address .address_block.feedback {
  width: 205px;
  background: url(../img/icon/feedback_icon.png) no-repeat left 2px;
  font-family: "MuseoSansCyrl500", sans-serif, arial;
}
/* line 740, ../sass/main.scss */
footer .address .address_block.feedback a {
  color: #636f76;
  text-decoration: none;
}
/* line 743, ../sass/main.scss */
footer .address .address_block.feedback a:hover {
  text-decoration: underline;
}
/* line 750, ../sass/main.scss */
footer .logo {
  width: 280px;
}
/* line 752, ../sass/main.scss */
footer .logo img {
  width: 260px;
}
/* line 756, ../sass/main.scss */
footer .bottom_line {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 20px;
}
/* line 761, ../sass/main.scss */
footer .bottom_line a {
  color: #636f76;
  text-decoration: none;
  font-size: 12px;
}
/* line 767, ../sass/main.scss */
footer .social {
  width: 160px;
  position: absolute;
  top: -5px;
  left: calc(50% - 80px);
}
/* line 772, ../sass/main.scss */
footer .social ul {
  display: flex;
  justify-content: space-between;
}
/* line 776, ../sass/main.scss */
footer .social li {
  display: block;
  height: 21px;
  width: 21px;
}
/* line 780, ../sass/main.scss */
footer .social li.vk {
  background: url(../img/icon/vk_icon.png) no-repeat center;
}
/* line 783, ../sass/main.scss */
footer .social li.fb {
  background: url(../img/icon/fb_icon.png) no-repeat center;
}
/* line 786, ../sass/main.scss */
footer .social li.twitter {
  background: url(../img/icon/tw_icon.png) no-repeat center;
}
/* line 789, ../sass/main.scss */
footer .social li.ok {
  background: url(../img/icon/ok_icon.png) no-repeat center;
}
/* line 792, ../sass/main.scss */
footer .social li.mail_ru {
  background: url(../img/icon/mail_icon.png) no-repeat center;
}
/* line 795, ../sass/main.scss */
footer .social li a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 804, ../sass/main.scss */
footer .develop a:hover {
  text-decoration: underline;
}

/* line 810, ../sass/main.scss */
.visible_small {
  display: none;
}

/* line 814, ../sass/main.scss */
.breadcrumbs {
  color: #9ba3a8;
  margin-bottom: 20px;
}
/* line 817, ../sass/main.scss */
.breadcrumbs li {
  display: inline-block;
  padding-left: 10px;
}
/* line 820, ../sass/main.scss */
.breadcrumbs li:before {
  content: '>';
  margin-right: 10px;
}
/* line 824, ../sass/main.scss */
.breadcrumbs li:first-child {
  padding: 0;
}
/* line 826, ../sass/main.scss */
.breadcrumbs li:first-child:before {
  display: none;
}
/* line 831, ../sass/main.scss */
.breadcrumbs a {
  color: #9ba3a8;
  text-decoration: none;
}
/* line 834, ../sass/main.scss */
.breadcrumbs a:hover {
  text-decoration: underline;
}

/* line 839, ../sass/main.scss */
.brands {
  height: auto;
  padding-top: 30px;
  margin-bottom: 50px;
}
/* line 843, ../sass/main.scss */
.brands .section_title h2 {
  text-align: left;
}
/* line 846, ../sass/main.scss */
.brands .car_item_wrap {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 852, ../sass/main.scss */
.brands .car_item {
  width: 160px;
  height: 60px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
  margin-bottom: 40px;
  cursor: pointer;
  align-items: center;
  display: flex;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  font-size: 14px;
  margin-right: 10px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(210, 215, 217, 0.5);
  -moz-box-shadow: 0 3px 5px 0 rgba(210, 215, 217, 0.5);
  box-shadow: 0 3px 5px 0 rgba(210, 215, 217, 0.5);
  color: #113d59;
  text-decoration: none;
}
/* line 870, ../sass/main.scss */
.brands .car_item:hover {
  border: 2px solid #113d59;
}
/* line 873, ../sass/main.scss */
.brands .car_item:nth-child(6n) {
  margin-right: 0;
}
/* line 876, ../sass/main.scss */
.brands .car_item .img_brands {
  width: 38%;
  text-align: center;
  margin-right: 10px;
}

/* line 883, ../sass/main.scss */
.contacts {
  height: auto;
  padding-top: 30px;
  margin-bottom: 50px;
}
/* line 887, ../sass/main.scss */
.contacts .section_title h2 {
  text-align: left;
}
/* line 890, ../sass/main.scss */
.contacts .contacts_block {
  padding-top: 45px;
  display: inline-block;
}
/* line 893, ../sass/main.scss */
.contacts .contacts_block .contacts_item {
  color: #4b6c81;
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  padding-bottom: 30px;
}
/* line 897, ../sass/main.scss */
.contacts .contacts_block .contacts_item span {
  color: #113d59;
  font-family: "MuseoSansCyrl500", sans-serif, arial;
}
/* line 901, ../sass/main.scss */
.contacts .contacts_block .contacts_item .phone {
  margin-left: 30px;
}
/* line 904, ../sass/main.scss */
.contacts .contacts_block .contacts_item .address {
  margin-left: 48px;
}

/* line 910, ../sass/main.scss */
#map {
  margin-bottom: 60px;
  float: right;
  width: 760px;
  height: 480px;
  -webkit-box-shadow: 0px 10px 20px 0px #d2d7d9;
  -moz-box-shadow: 0px 10px 20px 0px #d2d7d9;
  box-shadow: 0px 10px 20px 0px #d2d7d9;
}

/* line 919, ../sass/main.scss */
.error {
  height: auto;
  text-align: center;
  max-width: 440px;
  margin: 110px auto;
}
/* line 924, ../sass/main.scss */
.error img {
  width: 100%;
}
/* line 927, ../sass/main.scss */
.error h3 {
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  font-size: 25px;
  padding: 30px 0 45px;
  line-height: 1.6;
}
/* line 933, ../sass/main.scss */
.error p {
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  font-size: 16px;
  padding-bottom: 15px;
}
/* line 938, ../sass/main.scss */
.error .on_main_btn {
  width: 180px;
  height: 40px;
  font-family: "MuseoSansCyrl500", sans-serif, arial;
  border: none;
  border-radius: 4px;
  background: #e74c3c;
  color: #fff;
  font-size: 14px;
}
/* line 947, ../sass/main.scss */
.error .on_main_btn:hover {
  background: #ff3824;
}

/* line 952, ../sass/main.scss */
.preliminary_estimate {
  float: right;
  max-width: 800px;
  padding: 25px 0 25px 40px;
  width: 69%;
}
/* line 957, ../sass/main.scss */
.preliminary_estimate .section_title h2 {
  text-align: left;
  padding-bottom: 15px;
}
/* line 961, ../sass/main.scss */
.preliminary_estimate .section_title p {
  padding-top: 30px;
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  font-size: 16px;
  line-height: 2;
}
/* line 967, ../sass/main.scss */
.preliminary_estimate .application {
  max-width: 460px;
  margin: 60px auto;
  text-align: center;
  background: #fff;
  min-height: 740px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
  border-radius: 10px;
}
/* line 977, ../sass/main.scss */
.preliminary_estimate .application p {
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  font-size: 26px;
  padding-top: 40px;
  text-transform: uppercase;
}
/* line 983, ../sass/main.scss */
.preliminary_estimate .application input, .preliminary_estimate .application select {
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  color: #9fa3a7;
  font-size: 14px;
  max-width: 340px;
  width: 74%;
  margin: 40px auto 0;
  box-sizing: border-box;
  height: 40px;
  border: 0;
  display: block;
  border-radius: 5px;
  background: #f7f8f9;
  -webkit-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}
/* line 1001, ../sass/main.scss */
.preliminary_estimate .application select {
  background: url("../img/icon/select_arrow.png") no-repeat right #f7f8f9;
  -webkit-appearance: none;
  background-position-x: 95%;
}
/* line 1006, ../sass/main.scss */
.preliminary_estimate .application .jfilestyle {
  max-width: 340px;
  width: 74%;
  margin: 0 auto 30px;
  text-align: left;
  cursor: pointer;
  position: relative;
  top: 40px;
}
/* line 1015, ../sass/main.scss */
.preliminary_estimate .application .jfilestyle input {
  position: absolute;
  pointer-events: none;
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 14px;
  max-width: 340px;
  width: 80%;
  top: 0;
  left: 10px;
  margin: 0;
  text-decoration: underline;
}
/* line 1029, ../sass/main.scss */
.preliminary_estimate .application .jfilestyle span {
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  color: #9fa3a7;
  font-size: 14px;
  cursor: pointer;
}

/* line 1037, ../sass/main.scss */
.modal_btn {
  max-width: 340px;
  width: 74%;
  height: 50px;
  font-family: "MuseoSansCyrl500", sans-serif, arial;
  border: none;
  border-radius: 4px;
  background: #e74c3c;
  color: #fff;
  font-size: 16px;
  margin-top: 43px;
}
/* line 1048, ../sass/main.scss */
.modal_btn:hover {
  background: #ff3824;
}

/* line 1052, ../sass/main.scss */
.feedback_block {
  background: url("../img/preliminary-estimate-bg.jpg") no-repeat;
  width: 100%;
  height: 200px;
}
/* line 1057, ../sass/main.scss */
.feedback_block .feedback_in {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}
/* line 1063, ../sass/main.scss */
.feedback_block .feedback_in img {
  position: absolute;
  bottom: -30px;
  left: 10px;
}
/* line 1068, ../sass/main.scss */
.feedback_block .feedback_in p {
  color: #fff;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  font-size: 26px;
  padding-bottom: 28px;
  text-transform: uppercase;
  line-height: 1.7;
}
/* line 1076, ../sass/main.scss */
.feedback_block .feedback_in .feedback_form {
  padding: 50px 0 0 400px;
}
/* line 1078, ../sass/main.scss */
.feedback_block .feedback_in .feedback_form input {
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  color: #9fa3a7;
  font-size: 14px;
  height: 40px;
  width: 280px;
  box-sizing: border-box;
  border: none;
  vertical-align: top;
  -webkit-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}
/* line 1092, ../sass/main.scss */
.feedback_block .feedback_in .feedback_form .name {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 1096, ../sass/main.scss */
.feedback_block .feedback_in .feedback_form .modal_btn {
  width: 190px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin: 0;
  height: 40px;
}

/* line 1106, ../sass/main.scss */
.nav_menu_left {
  width: 360px;
  float: left;
}
/* line 1109, ../sass/main.scss */
.nav_menu_left .advantages {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  margin-top: 50px;
}
/* line 1114, ../sass/main.scss */
.nav_menu_left .advantages .title {
  display: flex;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  align-items: center;
  background: #113d59;
  color: #fff;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  font-size: 20px;
  height: 60px;
  padding-left: 15px;
  opacity: .7;
  text-transform: uppercase;
}
/* line 1128, ../sass/main.scss */
.nav_menu_left .advantages ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 15px 0 0 15px;
}
/* line 1135, ../sass/main.scss */
.nav_menu_left .advantages li {
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 70px;
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  position: relative;
  margin-bottom: 30px;
  color: #9ba3a8;
}
/* line 1144, ../sass/main.scss */
.nav_menu_left .advantages li:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: #113d59;
  opacity: .7;
}
/* line 1157, ../sass/main.scss */
.nav_menu_left .advantages li.price:before {
  background: url(../img/icon/price_icon.png) no-repeat center #113d59;
}
/* line 1162, ../sass/main.scss */
.nav_menu_left .advantages li.document:before {
  background: url(../img/icon/document_icon.png) no-repeat center #113d59;
}
/* line 1167, ../sass/main.scss */
.nav_menu_left .advantages li.costs:before {
  background: url(../img/icon/money_box_icon.png) no-repeat center #113d59;
}
/* line 1172, ../sass/main.scss */
.nav_menu_left .advantages li.warranty:before {
  background: url(../img/icon/warranty_icon.png) no-repeat center #113d59;
}
/* line 1178, ../sass/main.scss */
.nav_menu_left .sub_menu {
  border-top: 4px solid #113d59;
  margin-top: 20px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
}
/* line 1184, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown {
  -webkit-box-shadow: inset 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
  -moz-box-shadow: inset 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
  box-shadow: inset 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
}
/* line 1188, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown a {
  text-decoration: none;
  font-size: 16px;
}
/* line 1192, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown_item {
  position: relative;
  color: #9ba3a8;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  padding: 5px 25px;
  height: 50px;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #f7f9fa;
}
/* line 1203, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown_item:hover {
  color: #113d59;
}
/* line 1206, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown_item:before {
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  margin: 0 10px 0 0;
  background: url(../img/icon/sub_menu_sheck.png) no-repeat 0;
}
/* line 1214, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown_item.open {
  height: 37px;
  background: transparent;
  border: none;
  color: #113d59;
}
/* line 1219, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown_item.open:before {
  background: url(../img/icon/sub_menu_sheck.png) no-repeat -10px 0px;
}
/* line 1224, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu {
  max-height: 0;
  overflow: hidden;
}
/* line 1227, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu li {
  padding: 0;
}
/* line 1230, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu li a {
  color: #9ba3a8;
  height: 37px;
  display: flex;
  align-items: center;
  padding: 5px 0 5px 30px;
  font-family: "MuseoSansCyrl500", sans-serif, arial;
  font-size: 14px;
}
/* line 1238, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu li a:before {
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  margin: 0 10px 0 0;
  background: url(../img/icon/sub_menu_sheck.png) no-repeat 0;
}
/* line 1246, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu li a:hover {
  color: #113d59;
}
/* line 1251, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu .dropdown {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 1255, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu .dropdown a {
  text-decoration: none;
  font-size: 14px;
}
/* line 1259, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu .dropdown .dropdown_item {
  position: relative;
  color: #113d59;
  font-weight: bold;
  padding: 5px 30px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}
/* line 1268, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu .dropdown .dropdown_item:hover {
  color: #113d59;
}
/* line 1271, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu .dropdown .dropdown_item:before {
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  margin: 0 10px 0 0;
  background: url(../img/icon/sub_menu_sheck.png) no-repeat -10px 0px;
}
/* line 1279, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu .dropdown .dropdown_item.open {
  color: #9ba3a8;
}
/* line 1281, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu .dropdown .dropdown_item.open:before {
  background: url(../img/icon/sub_menu_sheck.png) no-repeat 0;
}
/* line 1286, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu .dropdown .dropdown-menu {
  overflow: hidden;
}
/* line 1289, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu .dropdown .dropdown-menu li {
  padding: 0 30px;
}
/* line 1292, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu .dropdown .dropdown-menu li a {
  color: #9ba3a8;
  display: block;
  padding: 5px 0 5px 30px;
  font-family: "MuseoSansCyrl100", sans-serif, arial;
}
/* line 1297, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .dropdown-menu .dropdown .dropdown-menu li a:before {
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  margin: 0 10px 0 0;
  background: url(../img/icon/sub_menu_sheck.png) no-repeat 0;
}
/* line 1310, ../sass/main.scss */
.nav_menu_left .sub_menu .dropdown .show {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
  display: block;
  max-height: 9999px;
}
/* line 1319, ../sass/main.scss */
.nav_menu_left .reviews {
  height: auto;
  background: #fff;
  position: relative;
  margin-top: 50px;
}
/* line 1324, ../sass/main.scss */
.nav_menu_left .reviews .title {
  display: flex;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  align-items: center;
  background: #113d59;
  color: #fff;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  font-size: 20px;
  height: 60px;
  padding-left: 15px;
  opacity: .7;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 1339, ../sass/main.scss */
.nav_menu_left .reviews .reviews_block {
  background: #f7f9fa;
  border-radius: 5px;
  margin: 5px;
  padding: 25px 15px 20px;
  height: auto;
}
/* line 1345, ../sass/main.scss */
.nav_menu_left .reviews .reviews_block .name {
  font-family: "MuseoSansCyrl500", sans-serif, arial;
  float: left;
}
/* line 1349, ../sass/main.scss */
.nav_menu_left .reviews .reviews_block .date {
  font-family: "MuseoSansCyrl500", sans-serif, arial;
  float: right;
  background: url("../img/icon/commenting.png") no-repeat 27px 0;
  text-align: right;
  width: 40%;
}
/* line 1356, ../sass/main.scss */
.nav_menu_left .reviews .reviews_block .description {
  padding-top: 25px;
  clear: both;
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  line-height: 1.3;
}
/* line 1362, ../sass/main.scss */
.nav_menu_left .reviews .reviews_block .stars {
  padding: 10px 0 0;
  text-align: right;
}
/* line 1367, ../sass/main.scss */
.nav_menu_left .reviews .nav_menu_btn {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: 2px solid #113d59;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  color: #113d59;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  bottom: 0;
}
/* line 1387, ../sass/main.scss */
.nav_menu_left .reviews .nav_menu_btn:hover {
  color: #fff;
  background: #113d59;
}

/* line 1394, ../sass/main.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(17, 61, 89, 0.4);
}
/* line 1405, ../sass/main.scss */
.modal .modal-content {
  position: relative;
  max-width: 460px;
  margin: 0 auto;
  width: 100%;
}
/* line 1410, ../sass/main.scss */
.modal .modal-content .close {
  position: absolute;
  font-size: 30px;
  top: 5px;
  right: 15px;
  font-weight: 100;
  cursor: pointer;
  color: #9fa3a7;
}
/* line 1420, ../sass/main.scss */
.modal .application {
  max-width: 460px;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  min-height: 740px;
  border-radius: 10px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
/* line 1431, ../sass/main.scss */
.modal .application p {
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  font-size: 26px;
  padding-top: 40px;
  text-transform: uppercase;
}
/* line 1437, ../sass/main.scss */
.modal .application input, .modal .application select {
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  color: #9fa3a7;
  font-size: 14px;
  max-width: 340px;
  width: 74%;
  margin: 40px auto 0;
  box-sizing: border-box;
  height: 40px;
  border: 0;
  display: block;
  border-radius: 5px;
  background: #f7f8f9;
  -webkit-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}
/* line 1454, ../sass/main.scss */
.modal .application input:active, .modal .application select:active {
  background: #fff;
}
/* line 1459, ../sass/main.scss */
.modal .application select {
  background: url("../img/icon/select_arrow.png") no-repeat right #f7f8f9;
  -webkit-appearance: none;
  background-position-x: 95%;
}
/* line 1464, ../sass/main.scss */
.modal .application .jfilestyle {
  max-width: 340px;
  width: 74%;
  margin: 0 auto 30px;
  text-align: left;
  cursor: pointer;
  position: relative;
  top: 40px;
}
/* line 1473, ../sass/main.scss */
.modal .application .jfilestyle input {
  position: absolute;
  pointer-events: none;
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 14px;
  max-width: 340px;
  width: 80%;
  top: 0;
  left: 10px;
  margin: 0;
  text-decoration: underline;
}
/* line 1487, ../sass/main.scss */
.modal .application .jfilestyle span {
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  color: #9fa3a7;
  font-size: 14px;
  cursor: pointer;
}

/* line 1495, ../sass/main.scss */
.urgent_repayment {
  float: right;
  max-width: 800px;
  padding: 25px 0 0 40px;
  width: 69%;
}
/* line 1500, ../sass/main.scss */
.urgent_repayment .section_title h2 {
  text-align: left;
  padding-bottom: 15px;
}
/* line 1504, ../sass/main.scss */
.urgent_repayment .section_title p {
  padding-top: 30px;
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  font-size: 16px;
  line-height: 2;
}
/* line 1510, ../sass/main.scss */
.urgent_repayment .documents {
  margin-top: 70px;
}
/* line 1512, ../sass/main.scss */
.urgent_repayment .documents figure {
  display: inline-block;
  width: 240px;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-top: 40px;
}
/* line 1519, ../sass/main.scss */
.urgent_repayment .documents figure img {
  height: 155px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 1524, ../sass/main.scss */
.urgent_repayment .documents figure figcaption {
  font-family: "MuseoSansCyrl500", sans-serif, arial;
  padding-top: 20px;
  line-height: 2;
}
/* line 1531, ../sass/main.scss */
.urgent_repayment .redemption_cars {
  margin-top: 70px;
}
/* line 1533, ../sass/main.scss */
.urgent_repayment .redemption_cars .watch_all {
  margin-top: 20px;
  display: block;
  width: 300px;
  height: 50px;
  border: 2px solid #113d59;
  border-radius: 4px;
  background: transparent;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  font-size: 16px;
  color: #113d59;
}
/* line 1544, ../sass/main.scss */
.urgent_repayment .redemption_cars .watch_all:hover {
  background: #113d59;
  color: #fff;
}
/* line 1549, ../sass/main.scss */
.urgent_repayment .redemption_cars p {
  padding-top: 25px;
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  line-height: 1.5;
  color: #4b6c81;
}
/* line 1555, ../sass/main.scss */
.urgent_repayment .redemption_cars ul {
  padding-top: 5px;
}
/* line 1556, ../sass/main.scss */
.urgent_repayment .redemption_cars li {
  padding: 20px 0 0 20px;
  line-height: 1.5;
  position: relative;
  color: #113d59;
}
/* line 1561, ../sass/main.scss */
.urgent_repayment .redemption_cars li:before {
  position: absolute;
  left: 0;
  top: 27px;
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  margin: 0 10px 0 0;
  background: url(../img/icon/sub_menu_sheck.png) no-repeat -10px 0px;
}

/* line 1575, ../sass/main.scss */
.close_menu {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  display: none;
}

/* line 1582, ../sass/main.scss */
.back_menu {
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
  display: none;
}

/* line 1591, ../sass/main.scss */
#success_callback .modal-content img {
  margin-top: 100px;
  margin-bottom: 40px;
  width: 200px;
}
/* line 1595, ../sass/main.scss */
#success_callback .modal-content h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 28px;
}
/* line 1600, ../sass/main.scss */
#success_callback .modal-content p {
  font-size: 21px;
}

/* line 1607, ../sass/main.scss */
.road {
  height: 100%;
  position: relative;
  width: 430px;
  margin: 0 auto;
}
/* line 1612, ../sass/main.scss */
.road .car {
  position: absolute;
  display: none;
}
/* line 1617, ../sass/main.scss */
.road .point {
  width: 30px;
  height: 30px;
  background: transparent;
  position: absolute;
}
/* line 1622, ../sass/main.scss */
.road .point .popover {
  width: 130px;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
}
/* line 1632, ../sass/main.scss */
.road .point .popover img {
  transition: .3s;
}
/* line 1637, ../sass/main.scss */
.road .point .popover1 .bottom-section {
  position: absolute;
  left: -100%;
  width: 130px;
  top: 35%;
}
/* line 1645, ../sass/main.scss */
.road .point .popover2 .bottom-section {
  position: absolute;
  right: -115%;
  width: 96px;
  top: 35%;
}
/* line 1653, ../sass/main.scss */
.road .point .popover3 .bottom-section {
  position: absolute;
  left: -100%;
  width: 130px;
  top: 35%;
}
/* line 1661, ../sass/main.scss */
.road .point .popover4 .bottom-section {
  position: absolute;
  left: 130%;
  width: 384px;
  top: 35%;
  font-size: 28px;
}
/* line 1670, ../sass/main.scss */
.road .point1 {
  top: 30px;
  left: 0;
}
/* line 1674, ../sass/main.scss */
.road .point2 {
  top: 134px;
  left: 41%;
}
/* line 1678, ../sass/main.scss */
.road .point3 {
  top: 260px;
  left: 8%;
}
/* line 1682, ../sass/main.scss */
.road .point4 {
  top: 440px;
  left: 55%;
}
