@font-face {
  font-family: 'MuseoSansCyrl100';
  src: url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot");
  src: url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff2") format("woff2"), url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"), url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.ttf") format("truetype"), url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.svg#MuseoSansCyrl100") format("svg");
}
@font-face {
  font-family: 'MuseoSansCyrl300';
  src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot");
  src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff") format("woff"), url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.svg#MuseoSansCyrl100") format("svg");
}
@font-face {
  font-family: 'MuseoSansCyrl500';
  src: url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot");
  src: url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff") format("woff"), url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.ttf") format("truetype"), url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.svg#MuseoSansCyrl500") format("svg");
}
@font-face {
  font-family: 'MuseoSansCyrl700';
  src: url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot");
  src: url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff") format("woff"), url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.svg#MuseoSansCyrl700") format("svg");
}
@font-face {
  font-family: 'MuseoSansCyrl900';
  src: url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.eot");
  src: url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.woff") format("woff"), url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.svg#MuseoSansCyrl100") format("svg");
}
@media (min-width: 1020px) and (max-width: 1920px) {
  /* line 5, ../sass/media.scss */
  nav.menu {
    position: relative;
    background: #113d59;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 15;
  }
  /* line 12, ../sass/media.scss */
  nav.menu a {
    color: #fff;
    text-decoration: none;
    opacity: .8;
  }
  /* line 17, ../sass/media.scss */
  nav.menu a:hover {
    opacity: 1;
  }
  /* line 21, ../sass/media.scss */
  nav.menu ul {
    display: flex;
    justify-content: space-between;
    font-family: "MuseoSansCyrl500", sans-serif, arial;
    font-size: 18px;
  }
  /* line 26, ../sass/media.scss */
  nav.menu ul > li {
    display: flex;
  }
  /* line 28, ../sass/media.scss */
  nav.menu ul > li > a {
    padding: 21px 0;
  }
  /* line 33, ../sass/media.scss */
  nav.menu .open_sub {
    position: relative;
  }
  /* line 35, ../sass/media.scss */
  nav.menu .open_sub ul {
    width: 260px;
    background: #113d59;
    position: absolute;
    z-index: 10;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  }
  /* line 49, ../sass/media.scss */
  nav.menu .open_sub ul li a {
    padding: 10px 25px;
    display: block;
    width: 100%;
  }
  /* line 58, ../sass/media.scss */
  nav.menu .open_sub:hover > ul {
    display: block;
    top: 60px;
  }
  /* line 61, ../sass/media.scss */
  nav.menu .open_sub:hover > ul li {
    position: relative;
  }
  /* line 62, ../sass/media.scss */
  nav.menu .open_sub:hover > ul li > ul {
    background: #113d59;
    min-width: 240px;
    position: absolute;
    left: 100%;
    top: 0;
    -webkit-box-shadow: inset 5px 0 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 5px 0 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 5px 0 10px 0 rgba(0, 0, 0, 0.3);
    border-top-right-radius: 5px;
  }
  /* line 73, ../sass/media.scss */
  nav.menu .open_sub:hover > ul li:hover {
    background: #0A2D44;
  }
  /* line 78, ../sass/media.scss */
  nav.menu .open_sub:hover > ul li:hover > ul {
    display: block;
  }
  /* line 86, ../sass/media.scss */
  nav.menu .sub {
    display: none;
  }
}
@media (max-width: 1670px) {
  /* line 95, ../sass/media.scss */
  header .top_slider .slick-prev {
    left: 50px;
  }
  /* line 98, ../sass/media.scss */
  header .top_slider .slick-next {
    right: 50px;
  }

  /* line 106, ../sass/media.scss */
  .bought_car .bought_car_slider .slick-prev {
    left: -100px;
  }
  /* line 109, ../sass/media.scss */
  .bought_car .bought_car_slider .slick-next {
    right: -100px;
  }

  /* line 116, ../sass/media.scss */
  .partners .partners_slider .slick-prev {
    left: -100px;
  }
  /* line 119, ../sass/media.scss */
  .partners .partners_slider .slick-next {
    right: -100px;
  }
}
@media (max-width: 1439px) {
  /* line 128, ../sass/media.scss */
  header .top_slider .slick-prev {
    left: 10px;
  }
  /* line 131, ../sass/media.scss */
  header .top_slider .slick-next {
    right: 10px;
  }

  /* line 139, ../sass/media.scss */
  .bought_car .bought_car_slider .slick-prev {
    left: -34px;
  }
  /* line 142, ../sass/media.scss */
  .bought_car .bought_car_slider .slick-next {
    right: -34px;
  }

  /* line 149, ../sass/media.scss */
  .partners .partners_slider .slick-prev {
    left: -34px;
  }
  /* line 152, ../sass/media.scss */
  .partners .partners_slider .slick-next {
    right: -34px;
  }
}
@media (max-width: 1250px) {
  /* line 159, ../sass/media.scss */
  .container {
    width: 960px;
  }

  /* line 164, ../sass/media.scss */
  header .top_slider .slide {
    height: 500px;
  }
  /* line 167, ../sass/media.scss */
  header .top_slider p {
    margin-left: 50px;
    font-size: 45px;
    line-height: 60px;
  }
  /* line 172, ../sass/media.scss */
  header .top_slider .slick-dots {
    bottom: 30px;
  }

  /* line 177, ../sass/media.scss */
  .buy_out {
    height: 810px;
  }
  /* line 180, ../sass/media.scss */
  .buy_out .cooperate_wrap .cooperate_block {
    width: 468px;
    height: 110px;
    padding-left: 70px;
  }
  /* line 184, ../sass/media.scss */
  .buy_out .cooperate_wrap .cooperate_block.entity {
    padding-left: 110px;
    background-position: 15px -10px;
  }
  /* line 187, ../sass/media.scss */
  .buy_out .cooperate_wrap .cooperate_block.entity:hover {
    background-position: 15px -130px;
  }
  /* line 191, ../sass/media.scss */
  .buy_out .cooperate_wrap .cooperate_block.individual {
    background-position: 10px 5px;
  }
  /* line 193, ../sass/media.scss */
  .buy_out .cooperate_wrap .cooperate_block.individual:hover {
    background-position: 10px -90px;
  }

  /* line 201, ../sass/media.scss */
  .redeemable_car .car_item {
    width: 230px;
    height: 70px;
    margin-bottom: 13px;
  }

  /* line 209, ../sass/media.scss */
  .bought_car .bought_car_slider .car_info {
    padding: 30px;
  }
  /* line 212, ../sass/media.scss */
  .bought_car .bought_car_slider .slick-prev, .bought_car .bought_car_slider .slick-next {
    width: 55px;
    height: 55px;
  }
  /* line 216, ../sass/media.scss */
  .bought_car .bought_car_slider .slick-prev {
    left: -20px;
  }
  /* line 219, ../sass/media.scss */
  .bought_car .bought_car_slider .slick-next {
    right: -20px;
  }

  /* line 226, ../sass/media.scss */
  .reviews_block .reviews_wrap .reviews {
    width: 468px;
    height: 240px;
  }

  /* line 234, ../sass/media.scss */
  .partners .partners_slider .slick-prev, .partners .partners_slider .slick-next {
    width: 55px;
    height: 55px;
  }
  /* line 238, ../sass/media.scss */
  .partners .partners_slider .slick-prev {
    left: -20px;
  }
  /* line 241, ../sass/media.scss */
  .partners .partners_slider .slick-next {
    right: -20px;
  }

  /* line 247, ../sass/media.scss */
  footer .address {
    width: 70%;
  }
  /* line 250, ../sass/media.scss */
  footer .address .address_block.phone {
    width: 30%;
  }

  /* line 257, ../sass/media.scss */
  .brands .car_item {
    margin-right: 41px;
  }
  /* line 259, ../sass/media.scss */
  .brands .car_item:nth-child(6n) {
    margin-right: 41px;
  }
  /* line 262, ../sass/media.scss */
  .brands .car_item:nth-child(4n) {
    margin-right: 0;
  }

  /* line 267, ../sass/media.scss */
  #map {
    width: 560px;
  }

  /* line 272, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form {
    padding: 20px 0 0 400px;
  }
  /* line 274, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form p {
    width: 45%;
    display: inline-block;
    vertical-align: top;
  }
  /* line 279, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form form {
    text-align: center;
    width: 50%;
    display: inline-block;
  }
  /* line 284, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form .name {
    border-radius: 5px;
    margin-bottom: 20px;
  }
  /* line 288, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form .phone {
    border-radius: 5px;
    margin-bottom: 20px;
  }
  /* line 292, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form .modal_btn {
    width: 280px;
    border-radius: 5px;
  }

  /* line 299, ../sass/media.scss */
  .nav_menu_left {
    display: none;
  }

  /* line 302, ../sass/media.scss */
  .urgent_repayment {
    float: none;
    max-width: 1250px;
    padding: 25px 0;
    width: 100%;
  }

  /* line 308, ../sass/media.scss */
  .preliminary_estimate {
    float: none;
    max-width: 1250px;
    padding: 25px 0;
    width: 100%;
  }
}
@media (max-width: 1020px) {
  /* line 317, ../sass/media.scss */
  .close_menu {
    display: block;
  }

  /* line 320, ../sass/media.scss */
  .container {
    width: 710px;
  }

  /* line 323, ../sass/media.scss */
  header {
    position: relative;
  }
  /* line 325, ../sass/media.scss */
  header .top_line_wrap {
    display: block;
  }
  /* line 328, ../sass/media.scss */
  header .top_line {
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  }
  /* line 333, ../sass/media.scss */
  header .top_line .logo img {
    margin-bottom: 0;
  }
  /* line 338, ../sass/media.scss */
  header .top_line .button .sell_car {
    display: none;
  }
  /* line 341, ../sass/media.scss */
  header .top_line .button .open_menu {
    display: block;
  }
  /* line 345, ../sass/media.scss */
  header .top_line .address {
    margin-top: 10px;
    width: 100%;
  }
  /* line 351, ../sass/media.scss */
  header .top_slider p {
    font-size: 40px;
    line-height: 50px;
  }
  /* line 357, ../sass/media.scss */
  header nav.menu {
    transition: ease-in-out .5s;
    position: absolute;
    right: 0;
    width: 400px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    padding-top: 50px;
    background: #113d59;
    transform: translate(420px, 0);
    -webkit-transform: translate(420px, 0);
    -o-transform: translate(420px, 0);
    -moz-transform: translate(420px, 0);
    z-index: 100;
    padding-left: 35px;
    font-family: "MuseoSansCyrl500", sans-serif, arial;
  }
  /* line 373, ../sass/media.scss */
  header nav.menu .container {
    width: 100%;
  }
  /* line 376, ../sass/media.scss */
  header nav.menu .open_sub_item {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    background: url(../img/icon/arrow_menu.png) no-repeat center;
    vertical-align: bottom;
    margin-left: 15px;
    cursor: pointer;
  }
  /* line 386, ../sass/media.scss */
  header nav.menu.show {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
  }
  /* line 392, ../sass/media.scss */
  header nav.menu li {
    padding-bottom: 20px;
    color: #fff;
  }
  /* line 396, ../sass/media.scss */
  header nav.menu a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  /* line 401, ../sass/media.scss */
  header nav.menu .sub {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
  }
  /* line 405, ../sass/media.scss */
  header nav.menu .sub.open {
    max-height: 500px;
    visibility: visible;
    margin-top: 15px;
  }
  /* line 411, ../sass/media.scss */
  header nav.menu .sub-menu {
    list-style-type: disc;
    padding-left: 25px;
    transition: all .4s;
  }
  /* line 415, ../sass/media.scss */
  header nav.menu .sub-menu a {
    font-family: "MuseoSansCyrl300", sans-serif, arial;
    font-size: 16px;
  }
  /* line 420, ../sass/media.scss */
  header nav.menu .sub-menu .sub-menu a {
    font-family: "MuseoSansCyrl300", sans-serif, arial;
    font-size: 14px;
  }

  /* line 429, ../sass/media.scss */
  .buy_out {
    padding-top: 55px;
  }
  /* line 432, ../sass/media.scss */
  .buy_out .cooperate_wrap .cooperate_block {
    width: 49%;
  }

  /* line 439, ../sass/media.scss */
  .comfort .comfort_wrap .information {
    width: 60%;
  }
  /* line 442, ../sass/media.scss */
  .comfort .comfort_wrap .advantages {
    width: 40%;
    height: 320px;
  }
  /* line 445, ../sass/media.scss */
  .comfort .comfort_wrap .advantages ul {
    padding-left: 10px;
    font-size: 14px;
  }
  /* line 448, ../sass/media.scss */
  .comfort .comfort_wrap .advantages ul li {
    padding-left: 60px;
  }

  /* line 455, ../sass/media.scss */
  .redeemable_car {
    padding-top: 40px;
  }
  /* line 457, ../sass/media.scss */
  .redeemable_car .car_item_wrap {
    justify-content: space-around;
  }
  /* line 460, ../sass/media.scss */
  .redeemable_car .car_item {
    padding-left: 80px;
  }
  /* line 462, ../sass/media.scss */
  .redeemable_car .car_item.commercial {
    background-position: -15px -350px;
  }
  /* line 464, ../sass/media.scss */
  .redeemable_car .car_item.commercial.active {
    background-position: -15px -280px;
  }
  /* line 468, ../sass/media.scss */
  .redeemable_car .car_item.new {
    background-position: 0 326px;
  }
  /* line 470, ../sass/media.scss */
  .redeemable_car .car_item.new.active {
    background-position: 0 383px;
  }
  /* line 474, ../sass/media.scss */
  .redeemable_car .car_item.previously_used {
    background-position: 0 204px;
  }
  /* line 476, ../sass/media.scss */
  .redeemable_car .car_item.previously_used.active {
    background-position: 0 265px;
  }
  /* line 480, ../sass/media.scss */
  .redeemable_car .car_item.broken {
    background-position: 0 -67px;
  }
  /* line 482, ../sass/media.scss */
  .redeemable_car .car_item.broken.active {
    background-position: 0 -2px;
  }
  /* line 486, ../sass/media.scss */
  .redeemable_car .car_item.moscow {
    background-position: 0 454px;
  }
  /* line 488, ../sass/media.scss */
  .redeemable_car .car_item.moscow.active {
    background-position: 0 544px;
  }
  /* line 492, ../sass/media.scss */
  .redeemable_car .car_item.region {
    background-position: 0 68px;
  }
  /* line 494, ../sass/media.scss */
  .redeemable_car .car_item.region.active {
    background-position: 0 139px;
  }
  /* line 498, ../sass/media.scss */
  .redeemable_car .car_item.corporate {
    background-position: 0px -480px;
  }
  /* line 500, ../sass/media.scss */
  .redeemable_car .car_item.corporate.active {
    background-position: 0px -417px;
  }
  /* line 504, ../sass/media.scss */
  .redeemable_car .car_item.car_park {
    background-position: 0px -210px;
  }
  /* line 506, ../sass/media.scss */
  .redeemable_car .car_item.car_park.active {
    background-position: 0px -137px;
  }
  /* line 511, ../sass/media.scss */
  .redeemable_car .car_img {
    background-size: contain;
  }

  /* line 515, ../sass/media.scss */
  .bought_car {
    padding-top: 40px;
  }

  /* line 518, ../sass/media.scss */
  .reviews_block {
    margin-top: 40px;
    height: 440px;
  }
  /* line 522, ../sass/media.scss */
  .reviews_block .reviews_wrap .reviews {
    width: 49%;
    height: 200px;
  }

  /* line 529, ../sass/media.scss */
  footer nav.menu {
    display: none;
  }
  /* line 532, ../sass/media.scss */
  footer .phone_block {
    display: block;
    color: #fff;
    margin-bottom: 20px;
  }
  /* line 536, ../sass/media.scss */
  footer .phone_block .phone_block_wrap {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 10px;
  }
  /* line 543, ../sass/media.scss */
  footer .phone_block p {
    position: relative;
    min-width: 150px;
  }
  /* line 546, ../sass/media.scss */
  footer .phone_block p span {
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 12px;
  }
  /* line 556, ../sass/media.scss */
  footer .address .address_block.phone {
    display: none;
  }
  /* line 559, ../sass/media.scss */
  footer .address .address_block.map {
    width: 47%;
  }
  /* line 562, ../sass/media.scss */
  footer .address .address_block.feedback {
    width: 40%;
  }
  /* line 567, ../sass/media.scss */
  footer .bottom_line {
    flex-wrap: wrap;
  }
  /* line 570, ../sass/media.scss */
  footer .social {
    position: relative;
    top: 0;
    left: 0;
    order: 1;
    width: 220px;
    margin-top: 10px;
  }
  /* line 577, ../sass/media.scss */
  footer .social ul {
    justify-content: space-around;
  }

  /* line 584, ../sass/media.scss */
  .brands .car_item {
    margin-right: 41px;
  }
  /* line 586, ../sass/media.scss */
  .brands .car_item:nth-child(6n) {
    margin-right: 41px;
  }
  /* line 589, ../sass/media.scss */
  .brands .car_item:nth-child(4n) {
    margin-right: 41px;
  }
  /* line 592, ../sass/media.scss */
  .brands .car_item:nth-child(3n) {
    margin-right: 0;
  }

  /* line 597, ../sass/media.scss */
  #map {
    width: 100%;
    float: none;
  }
}
@media (max-width: 960px) {
  /* line 606, ../sass/media.scss */
  .feedback_block .feedback_in img {
    max-width: 35%;
  }
  /* line 610, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form {
    padding: 20px 0 0 20px;
  }
  /* line 612, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form form {
    text-align: left;
    width: 40%;
  }
  /* line 616, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form p {
    font-size: 22px;
    width: 50%;
  }
}
@media (max-width: 767px) {
  /* line 627, ../sass/media.scss */
  .bought_car .bought_car_slider {
    overflow: hidden;
  }
  /* line 629, ../sass/media.scss */
  .bought_car .bought_car_slider .slick-prev {
    left: 10px;
  }
  /* line 632, ../sass/media.scss */
  .bought_car .bought_car_slider .slick-next {
    right: 10px;
  }

  /* line 638, ../sass/media.scss */
  .partners .partners_slider {
    overflow: hidden;
  }
  /* line 640, ../sass/media.scss */
  .partners .partners_slider .slick-prev {
    left: -10px;
  }
  /* line 643, ../sass/media.scss */
  .partners .partners_slider .slick-next {
    right: -10px;
  }

  /* line 648, ../sass/media.scss */
  .container {
    width: 100%;
    padding: 0 15px;
  }

  /* line 654, ../sass/media.scss */
  header .top_slider .slick-prev {
    bottom: 15px;
    top: auto;
    left: calc(43% - 25px);
  }
  /* line 659, ../sass/media.scss */
  header .top_slider .slick-next {
    bottom: 15px;
    top: auto;
    right: calc(43% - 25px);
  }
  /* line 664, ../sass/media.scss */
  header .top_slider .slick-dots {
    display: none !important;
  }

  /* line 669, ../sass/media.scss */
  .buy_out {
    height: auto;
    padding-bottom: 30%;
    background-color: #fff;
    background-position: center bottom;
    background-size: 150%;
  }
  /* line 675, ../sass/media.scss */
  .buy_out .cooperate_wrap {
    display: block;
  }
  /* line 677, ../sass/media.scss */
  .buy_out .cooperate_wrap .cooperate_block {
    width: 100%;
    max-width: 465px;
    margin: 15px auto;
  }

  /* line 685, ../sass/media.scss */
  .comfort .comfort_wrap {
    display: block;
  }
  /* line 687, ../sass/media.scss */
  .comfort .comfort_wrap .information {
    width: 100%;
  }
  /* line 691, ../sass/media.scss */
  .comfort .comfort_wrap .advantages {
    width: 100%;
    max-width: 401px;
    margin: 0 auto;
  }

  /* line 698, ../sass/media.scss */
  .feedback_block {
    background-size: cover;
    height: 420px;
  }
  /* line 702, ../sass/media.scss */
  .feedback_block .feedback_in img {
    max-width: 100%;
    height: 120px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  /* line 710, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form {
    padding: 40px 0;
    text-align: center;
  }
  /* line 713, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form input {
    display: block;
    margin: 0 auto;
  }
  /* line 717, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form form {
    text-align: center;
    width: 100%;
  }
  /* line 721, ../sass/media.scss */
  .feedback_block .feedback_in .feedback_form p {
    font-size: 18px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  /* line 730, ../sass/media.scss */
  .preliminary_estimate {
    float: none;
    padding: 25px 0;
    width: 100%;
  }
  /* line 734, ../sass/media.scss */
  .preliminary_estimate .nav_road_title {
    padding-top: 20px;
    text-align: center;
  }
  /* line 738, ../sass/media.scss */
  .preliminary_estimate .section_title h2 {
    text-align: center;
    padding: 15px;
  }
  /* line 742, ../sass/media.scss */
  .preliminary_estimate .section_title h1 {
    text-align: center;
    padding: 15px;
  }
  /* line 746, ../sass/media.scss */
  .preliminary_estimate .section_title p {
    padding: 0 15px 0;
    line-height: 22px;
    margin-bottom: 30px;
  }
  /* line 753, ../sass/media.scss */
  .preliminary_estimate .application input, .preliminary_estimate .application select {
    width: 290px;
  }
  /* line 756, ../sass/media.scss */
  .preliminary_estimate .application .jfilestyle {
    width: 290px;
  }

  /* line 761, ../sass/media.scss */
  .modal_btn {
    width: 90%;
  }

  /* line 764, ../sass/media.scss */
  .modal {
    padding: 0;
  }
  /* line 766, ../sass/media.scss */
  .modal .application {
    border-radius: 0;
  }
  /* line 768, ../sass/media.scss */
  .modal .application p {
    font-size: 18px;
  }
}
@media (max-width: 640px) {
  /* line 778, ../sass/media.scss */
  header .top_slider p {
    font-size: 30px;
    line-height: 35px;
  }

  /* line 784, ../sass/media.scss */
  .bought_car {
    height: auto;
    padding-bottom: 30px;
  }
  /* line 787, ../sass/media.scss */
  .bought_car .bought_car_slider {
    width: 315px;
    margin: 30px auto;
  }

  /* line 794, ../sass/media.scss */
  .partners .partners_slider .slick-prev {
    left: 0;
  }
  /* line 797, ../sass/media.scss */
  .partners .partners_slider .slick-next {
    right: 0;
  }

  /* line 803, ../sass/media.scss */
  footer .footer_wrap {
    display: block;
  }
  /* line 806, ../sass/media.scss */
  footer .address {
    margin-top: 15px;
    width: 100%;
  }
  /* line 810, ../sass/media.scss */
  footer .bottom_line {
    display: block;
  }
  /* line 812, ../sass/media.scss */
  footer .bottom_line .develop {
    display: none;
  }

  /* line 819, ../sass/media.scss */
  .brands .car_item_wrap {
    justify-content: center;
  }
  /* line 822, ../sass/media.scss */
  .brands .car_item {
    margin-right: 100px;
  }
  /* line 824, ../sass/media.scss */
  .brands .car_item:nth-child(2n) {
    margin-right: 100px;
  }
  /* line 827, ../sass/media.scss */
  .brands .car_item:nth-child(3n) {
    margin-right: 100px;
  }
  /* line 830, ../sass/media.scss */
  .brands .car_item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 520px) {
  /* line 837, ../sass/media.scss */
  .redeemable_car {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  /* line 843, ../sass/media.scss */
  .partners_display_no {
    display: none;
  }

  /* line 846, ../sass/media.scss */
  .breadcrumbs {
    text-align: center;
    margin-bottom: 5px;
  }

  /* line 851, ../sass/media.scss */
  .bought_car .bought_car_slider {
    overflow: visible;
  }
  /* line 853, ../sass/media.scss */
  .bought_car .bought_car_slider .slick-prev {
    left: -25px;
    top: 160px;
  }
  /* line 857, ../sass/media.scss */
  .bought_car .bought_car_slider .slick-next {
    right: -25px;
    top: 160px;
  }

  /* line 864, ../sass/media.scss */
  .partners .partners_slider {
    overflow: hidden;
  }
  /* line 866, ../sass/media.scss */
  .partners .partners_slider .slick-prev {
    left: -10px;
  }
  /* line 870, ../sass/media.scss */
  .partners .partners_slider .slick-next {
    right: -10px;
  }

  /* line 875, ../sass/media.scss */
  .visible_large {
    display: none;
  }

  /* line 878, ../sass/media.scss */
  .visible_small {
    display: block;
  }

  /* line 882, ../sass/media.scss */
  header nav.menu {
    width: 320px;
  }
  /* line 886, ../sass/media.scss */
  header .top_line .logo {
    width: 140px;
  }
  /* line 888, ../sass/media.scss */
  header .top_line .logo a {
    letter-spacing: 3px;
  }
  /* line 891, ../sass/media.scss */
  header .top_line .logo img {
    width: 130px;
  }
  /* line 894, ../sass/media.scss */
  header .top_line .logo span {
    font-size: 8px;
  }
  /* line 898, ../sass/media.scss */
  header .top_line .address {
    justify-content: space-between;
  }
  /* line 900, ../sass/media.scss */
  header .top_line .address .map {
    display: none;
  }
  /* line 903, ../sass/media.scss */
  header .top_line .address .address_block {
    background: none;
    padding: 0;
    font-size: 16px;
  }
  /* line 907, ../sass/media.scss */
  header .top_line .address .address_block a {
    display: none;
  }
  /* line 914, ../sass/media.scss */
  header .top_slider p {
    font-size: 18px;
    line-height: 27px;
    margin-left: 0;
    margin-top: 175px;
  }
  /* line 920, ../sass/media.scss */
  header .top_slider .slick-next {
    right: calc(40% - 25px);
  }
  /* line 923, ../sass/media.scss */
  header .top_slider .slick-prev {
    left: calc(40% - 25px);
  }

  /* line 928, ../sass/media.scss */
  .section_title h2 {
    font-size: 18px;
    line-height: 25px;
  }

  /* line 932, ../sass/media.scss */
  .section_title h1 {
    font-size: 18px;
    line-height: 25px;
  }

  /* line 938, ../sass/media.scss */
  .buy_out .cooperate_wrap .cooperate_block {
    height: 68px;
    font-size: 16px;
  }
  /* line 941, ../sass/media.scss */
  .buy_out .cooperate_wrap .cooperate_block.individual {
    background-position: 5px 2px;
    background-size: 55px auto;
    padding-left: 0;
  }
  /* line 945, ../sass/media.scss */
  .buy_out .cooperate_wrap .cooperate_block.individual:hover {
    background-position: 5px -58px;
    background-size: 55px auto;
    padding-left: 0;
  }
  /* line 951, ../sass/media.scss */
  .buy_out .cooperate_wrap .cooperate_block.entity {
    background-position: 2px -5px;
    background-size: 62px auto;
    padding-left: 18px;
  }
  /* line 955, ../sass/media.scss */
  .buy_out .cooperate_wrap .cooperate_block.entity:hover {
    background-position: 2px -76px;
    background-size: 62px auto;
    padding-left: 18px;
  }

  /* line 966, ../sass/media.scss */
  .comfort .comfort_wrap .advantages {
    height: auto;
  }
  /* line 968, ../sass/media.scss */
  .comfort .comfort_wrap .advantages ul {
    padding-left: 0;
  }
  /* line 970, ../sass/media.scss */
  .comfort .comfort_wrap .advantages ul li {
    padding: 70px 40px 50px;
    text-align: center;
  }
  /* line 973, ../sass/media.scss */
  .comfort .comfort_wrap .advantages ul li:before {
    top: 0;
    left: calc(50% - 25px);
  }
  /* line 977, ../sass/media.scss */
  .comfort .comfort_wrap .advantages ul li span {
    width: 100%;
  }

  /* line 985, ../sass/media.scss */
  .redeemable_car {
    height: auto;
  }
  /* line 987, ../sass/media.scss */
  .redeemable_car .car_img {
    display: none;
  }

  /* line 992, ../sass/media.scss */
  .bought_car .bought_car_slider {
    width: 245px;
  }
  /* line 995, ../sass/media.scss */
  .bought_car .bought_car_slider .car_item .car_photo {
    height: 160px;
  }
  /* line 1000, ../sass/media.scss */
  .bought_car .bought_car_slider .car_info .name {
    font-size: 14px;
  }
  /* line 1003, ../sass/media.scss */
  .bought_car .bought_car_slider .car_info span {
    font-size: 9px;
  }
  /* line 1006, ../sass/media.scss */
  .bought_car .bought_car_slider .car_info .date_bought_wrap {
    width: 65px;
  }
  /* line 1009, ../sass/media.scss */
  .bought_car .bought_car_slider .car_info .bought_price {
    font-size: 10px;
    height: 34px;
    line-height: 30px;
  }

  /* line 1017, ../sass/media.scss */
  .reviews_block {
    height: 340px;
  }
  /* line 1019, ../sass/media.scss */
  .reviews_block .reviews_wrap {
    margin: 33px 0;
  }
  /* line 1021, ../sass/media.scss */
  .reviews_block .reviews_wrap .reviews {
    width: 100%;
    height: 145px;
  }
  /* line 1024, ../sass/media.scss */
  .reviews_block .reviews_wrap .reviews:last-child {
    display: none;
  }

  /* line 1031, ../sass/media.scss */
  footer .address {
    flex-wrap: wrap;
  }
  /* line 1033, ../sass/media.scss */
  footer .address .address_block {
    padding-left: 20px;
  }
  /* line 1035, ../sass/media.scss */
  footer .address .address_block.feedback {
    width: 100%;
    order: 1;
    background-position: 0 2px;
    margin-top: 20px;
    padding-left: 30px;
  }
  /* line 1042, ../sass/media.scss */
  footer .address .address_block.map {
    width: 100%;
    background-position: 0 0;
  }
  /* line 1048, ../sass/media.scss */
  footer .footer_wrap {
    margin-bottom: 20px;
  }
  /* line 1051, ../sass/media.scss */
  footer .copyright {
    font-size: 12px;
  }
  /* line 1054, ../sass/media.scss */
  footer .social {
    width: 160px;
  }
  /* line 1058, ../sass/media.scss */
  footer .phone_block p {
    font-size: 14px;
  }

  /* line 1064, ../sass/media.scss */
  .how_work_small .work_item_wrap {
    display: block;
  }
  /* line 1066, ../sass/media.scss */
  .how_work_small .work_item_wrap .work_item {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  /* line 1069, ../sass/media.scss */
  .how_work_small .work_item_wrap .work_item:before {
    top: auto;
    bottom: -34px;
    right: calc(50% - 10px);
    transform: rotate(90deg);
  }
  /* line 1076, ../sass/media.scss */
  .how_work_small .work_item_wrap .work_item:last-child:before {
    display: none;
  }
  /* line 1081, ../sass/media.scss */
  .how_work_small .work_item_wrap .img_item {
    margin: 10px auto;
  }

  /* line 1087, ../sass/media.scss */
  .nav_road_title {
    text-align: center;
  }

  /* line 1091, ../sass/media.scss */
  .brands .section_title h2 {
    text-align: center;
  }
  /* line 1096, ../sass/media.scss */
  .brands .car_item {
    margin: 20px;
  }
  /* line 1098, ../sass/media.scss */
  .brands .car_item:nth-child(1n) {
    margin: 20px;
  }

  /* line 1103, ../sass/media.scss */
  .contacts {
    margin: 0;
  }
  /* line 1105, ../sass/media.scss */
  .contacts .section_title h2 {
    text-align: center;
  }
  /* line 1108, ../sass/media.scss */
  .contacts .container {
    padding: 0;
  }
  /* line 1110, ../sass/media.scss */
  .contacts .container .contacts_block {
    padding: 30px 15px 20px;
  }
  /* line 1113, ../sass/media.scss */
  .contacts .container .contacts_block .contacts_item .address {
    margin-left: 25px;
  }
  /* line 1116, ../sass/media.scss */
  .contacts .container .contacts_block .contacts_item .phone {
    margin-left: 8px;
  }

  /* line 1123, ../sass/media.scss */
  #map {
    width: 100%;
    float: none;
    margin: 0;
    box-shadow: none;
  }

  /* line 1131, ../sass/media.scss */
  .urgent_repayment .redemption_cars .watch_all {
    width: 100%;
  }
  /* line 1135, ../sass/media.scss */
  .urgent_repayment .section_title h2 {
    text-align: center;
  }
  /* line 1136, ../sass/media.scss */
  .urgent_repayment .section_title p {
    padding: 0;
  }
  /* line 1141, ../sass/media.scss */
  .urgent_repayment .documents {
    text-align: center;
  }
  /* line 1143, ../sass/media.scss */
  .urgent_repayment .documents figure {
    margin-top: 60px;
  }
  /* line 1145, ../sass/media.scss */
  .urgent_repayment .documents figure figcaption {
    text-align: left;
  }

  /* line 1152, ../sass/media.scss */
  .preliminary_estimate_up .container {
    padding: 0;
  }
  /* line 1156, ../sass/media.scss */
  .preliminary_estimate_up .preliminary_estimate .application {
    border-radius: 0;
  }
  /* line 1158, ../sass/media.scss */
  .preliminary_estimate_up .preliminary_estimate .application p {
    font-size: 18px;
  }

  /* line 1165, ../sass/media.scss */
  .preliminary_estimate .application {
    margin: 30px auto;
    padding: 0 15px;
  }
  /* line 1168, ../sass/media.scss */
  .preliminary_estimate .application input {
    width: 100%;
  }
  /* line 1171, ../sass/media.scss */
  .preliminary_estimate .application select {
    width: 100%;
  }
  /* line 1174, ../sass/media.scss */
  .preliminary_estimate .application .modal_btn {
    width: 100%;
  }
}
@media (max-width: 1150px) {
  /* line 1182, ../sass/media.scss */
  .road .point .popover4 .bottom-section {
    left: 15px;
    top: 57%;
  }
}
@media (max-width: 860px) {
  /* line 1188, ../sass/media.scss */
  .road .point .popover4 .bottom-section {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  /* line 1193, ../sass/media.scss */
  .road .point .popover1 .bottom-section {
    left: -71%;
    top: 44%;
    text-align: right;
  }

  /* line 1198, ../sass/media.scss */
  .road .point .popover3 .bottom-section {
    left: -61%;
    top: 50%;
    text-align: right;
  }

  /* line 1203, ../sass/media.scss */
  .road .point .popover4 .bottom-section {
    width: 180px;
  }
}
@media (max-width: 639px) {
  /* line 1208, ../sass/media.scss */
  .road .point .popover1 .bottom-section {
    left: -10%;
    top: 68%;
  }

  /* line 1212, ../sass/media.scss */
  .road .point .popover2 .bottom-section {
    right: -70%;
    top: 65%;
  }

  /* line 1216, ../sass/media.scss */
  .road .point .popover3 .bottom-section {
    left: -15%;
    top: 74%;
    text-align: right;
  }
}
@media (max-width: 480px) {
  /* line 1223, ../sass/media.scss */
  .how_work {
    height: 425px;
    background-position: 48% 0;
  }

  /* line 1227, ../sass/media.scss */
  .road {
    width: 180px;
  }
  /* line 1229, ../sass/media.scss */
  .road .car {
    width: 25px;
  }
  /* line 1233, ../sass/media.scss */
  .road .point .popover {
    font-size: 9px;
    width: 100px;
    height: 100px;
  }
  /* line 1237, ../sass/media.scss */
  .road .point .popover img {
    width: 100%;
  }
  /* line 1240, ../sass/media.scss */
  .road .point .popover .bottom-section {
    width: 63px;
  }
  /* line 1245, ../sass/media.scss */
  .road .point .popover1 .bottom-section {
    left: -38%;
    top: 50%;
  }
  /* line 1251, ../sass/media.scss */
  .road .point .popover2 .bottom-section {
    right: -38%;
    top: 53%;
  }
  /* line 1257, ../sass/media.scss */
  .road .point .popover3 .bottom-section {
    left: -39%;
    top: 55%;
  }
  /* line 1263, ../sass/media.scss */
  .road .point .popover4 .bottom-section {
    left: 68%;
    top: 48%;
    font-size: 9px;
    width: 80px;
  }
  /* line 1271, ../sass/media.scss */
  .road .point1 {
    top: -8px;
    left: -17px;
  }
  /* line 1275, ../sass/media.scss */
  .road .point2 {
    top: 55px;
    left: 42%;
  }
  /* line 1279, ../sass/media.scss */
  .road .point3 {
    top: 123px;
    left: 7%;
  }
  /* line 1283, ../sass/media.scss */
  .road .point4 {
    top: 217px;
    left: 61%;
  }
}
