/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'MuseoSansCyrl100';
  src: url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot");
  src: url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff2") format("woff2"), url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"), url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.ttf") format("truetype"), url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.svg#MuseoSansCyrl100") format("svg");
}
@font-face {
  font-family: 'MuseoSansCyrl300';
  src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot");
  src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff") format("woff"), url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.svg#MuseoSansCyrl100") format("svg");
}
@font-face {
  font-family: 'MuseoSansCyrl500';
  src: url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot");
  src: url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff") format("woff"), url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.ttf") format("truetype"), url("../fonts/MuseoSansCyrl500/MuseoSansCyrl500.svg#MuseoSansCyrl500") format("svg");
}
@font-face {
  font-family: 'MuseoSansCyrl700';
  src: url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot");
  src: url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff") format("woff"), url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.svg#MuseoSansCyrl700") format("svg");
}
@font-face {
  font-family: 'MuseoSansCyrl900';
  src: url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.eot");
  src: url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.eot") format("embedded-opentype"), url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.woff") format("woff"), url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl900/MuseoSansCyrl900.svg#MuseoSansCyrl100") format("svg");
}
/* line 5, ../sass/uistyle.scss */
body {
  font-size: 16px;
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  color: #113d59;
  background: #f7f9fa;
}

/* line 12, ../sass/uistyle.scss */
.container_ui {
  width: 940px;
  height: 100%;
  margin: 0 auto;
}

/* line 18, ../sass/uistyle.scss */
.wrap_bg .ui_title {
  padding-top: 50px;
  margin-bottom: -12px;
}

/* line 23, ../sass/uistyle.scss */
.ui_title {
  padding-top: 50px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 35px;
  margin-left: -7px;
}
/* line 29, ../sass/uistyle.scss */
.ui_title h2 {
  font-size: 28px;
  color: #444;
}
/* line 32, ../sass/uistyle.scss */
.ui_title h2 span {
  font-size: 16px;
  color: #aaa;
}

/* line 38, ../sass/uistyle.scss */
.color {
  background: #113d59;
  height: 210px;
}
/* line 41, ../sass/uistyle.scss */
.color .img_wrap {
  height: 100%;
  display: flex;
  align-items: center;
}

/* line 47, ../sass/uistyle.scss */
.ui_name {
  background: #fff;
  font-size: 59px;
  color: #555;
  height: 155px;
  line-height: 155px;
  font-family: "MuseoSansCyrl100", sans-serif, arial;
}

/* line 55, ../sass/uistyle.scss */
.ui_title_font {
  font-size: 18px;
  color: #444;
  margin-bottom: 43px;
}

/* line 60, ../sass/uistyle.scss */
p.paragraph {
  margin-bottom: 30px;
  line-height: 20px;
}

/* line 64, ../sass/uistyle.scss */
.font {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 60px;
}
/* line 70, ../sass/uistyle.scss */
.font .content {
  width: 308px;
}
/* line 73, ../sass/uistyle.scss */
.font .links {
  width: 235px;
}
/* line 76, ../sass/uistyle.scss */
.font a {
  display: block;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  color: #113d59;
  text-decoration: none;
  margin-bottom: 14px;
}
/* line 82, ../sass/uistyle.scss */
.font a.hover {
  text-decoration: underline;
}
/* line 85, ../sass/uistyle.scss */
.font a.active {
  color: #092b40;
}
/* line 88, ../sass/uistyle.scss */
.font a.visible {
  color: #092b40;
  text-decoration: underline;
}
/* line 94, ../sass/uistyle.scss */
.font h1, .font h2, .font h3, .font h4 {
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  margin-bottom: 23px;
}
/* line 98, ../sass/uistyle.scss */
.font h1 {
  font-size: 26px;
}
/* line 101, ../sass/uistyle.scss */
.font h2 {
  font-size: 22px;
}
/* line 104, ../sass/uistyle.scss */
.font h3 {
  font-size: 20px;
}
/* line 107, ../sass/uistyle.scss */
.font h4 {
  font-size: 18px;
}

/* line 111, ../sass/uistyle.scss */
.paragraphs_wrap {
  padding-left: 20px;
}

/* line 114, ../sass/uistyle.scss */
.two_column {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px;
}

/* line 122, ../sass/uistyle.scss */
.three_column {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px;
}

/* line 130, ../sass/uistyle.scss */
blockquote {
  background: #fff;
  padding: 30px 100px;
  position: relative;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
}
/* line 135, ../sass/uistyle.scss */
blockquote:before {
  content: '"';
  display: block;
  position: absolute;
  top: 5px;
  left: 2px;
  font-size: 50px;
  font-style: italic;
}
/* line 144, ../sass/uistyle.scss */
blockquote:after {
  content: '"';
  display: block;
  position: absolute;
  bottom: 5px;
  right: 2px;
  font-size: 50px;
  font-style: italic;
  transform: rotate(180deg);
}

/* line 156, ../sass/uistyle.scss */
.blockquotes_thesis blockquote {
  margin-bottom: 57px;
}

/* line 160, ../sass/uistyle.scss */
.blockquotes_thesis_wrap {
  padding-left: 20px;
}

/* line 163, ../sass/uistyle.scss */
.thesis {
  padding-left: 35px;
  padding-right: 200px;
  border-left: 4px solid #113d59;
}

/* line 168, ../sass/uistyle.scss */
.list_wrap {
  display: flex;
  justify-content: flex-start;
}
/* line 171, ../sass/uistyle.scss */
.list_wrap ul {
  list-style-type: disc;
  padding: 0 20px;
}
/* line 174, ../sass/uistyle.scss */
.list_wrap ul li {
  margin-bottom: 12px;
  line-height: 23px;
}
/* line 179, ../sass/uistyle.scss */
.list_wrap ol {
  list-style-type: decimal;
  padding: 0 20px;
}
/* line 182, ../sass/uistyle.scss */
.list_wrap ol li {
  margin-bottom: 12px;
  line-height: 23px;
}

/* line 188, ../sass/uistyle.scss */
.list_padding {
  padding-left: 20px;
}

/* line 191, ../sass/uistyle.scss */
.tabs_padding {
  padding-left: 20px;
}

/* line 195, ../sass/uistyle.scss */
.tabs nav {
  text-align: left;
  margin-bottom: 25px;
}
/* line 198, ../sass/uistyle.scss */
.tabs nav li {
  display: inline-block;
}
/* line 200, ../sass/uistyle.scss */
.tabs nav li a {
  display: block;
  color: #113d59;
  text-decoration: none;
  padding: 12px 14px;
  min-width: 128px;
  box-sizing: border-box;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  text-align: center;
  border-radius: 5px;
  transition: all .2s;
}
/* line 211, ../sass/uistyle.scss */
.tabs nav li a:hover {
  -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
}
/* line 218, ../sass/uistyle.scss */
.tabs nav li.tab-current a {
  background: #113d59;
  color: #fff;
  -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
}
/* line 230, ../sass/uistyle.scss */
.tabs .content-wrap .section {
  display: none;
}
/* line 234, ../sass/uistyle.scss */
.tabs .content-current {
  display: block;
}

/* line 239, ../sass/uistyle.scss */
.pagination {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
/* line 243, ../sass/uistyle.scss */
.pagination .page {
  display: block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  z-index: 10;
  opacity: 1;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  text-align: center;
  line-height: 30px;
  color: #113d59;
  text-decoration: none;
  font-family: "MuseoSansCyrl300", sans-serif, arial;
  margin-right: 5px;
}
/* line 261, ../sass/uistyle.scss */
.pagination .page:hover {
  opacity: 1;
}
/* line 264, ../sass/uistyle.scss */
.pagination .page.active {
  color: #e74c3c;
}
/* line 268, ../sass/uistyle.scss */
.pagination .next, .pagination .prev {
  -webkit-box-shadow: 0 3px 5px 0 rgba(124, 149, 161, 0.2);
  -moz-box-shadow: 0 3px 5px 0 rgba(124, 149, 161, 0.2);
  box-shadow: 0 3px 5px 0 rgba(124, 149, 161, 0.2);
  background: url(../img/icon/slider_arrow.png) center no-repeat #fff;
  background-size: 11px;
}
/* line 274, ../sass/uistyle.scss */
.pagination .next.disable, .pagination .prev.disable {
  background: url(../img/icon/arrow_disable.png) center no-repeat #113d59;
  opacity: .3;
}
/* line 279, ../sass/uistyle.scss */
.pagination .next {
  transform: rotate(180deg);
  transform-origin: 50%;
  -webkit-box-shadow: 0 -3px 5px 0 rgba(124, 149, 161, 0.2);
  -moz-box-shadow: 0 -3px 5px 0 rgba(124, 149, 161, 0.2);
  box-shadow: 0 -3px 5px 0 rgba(124, 149, 161, 0.2);
}

/* line 287, ../sass/uistyle.scss */
.breadcrumbs {
  color: #9ba3a8;
}
/* line 289, ../sass/uistyle.scss */
.breadcrumbs li {
  display: inline-block;
  padding-left: 10px;
}
/* line 292, ../sass/uistyle.scss */
.breadcrumbs li:before {
  content: '>';
  margin-right: 10px;
}
/* line 296, ../sass/uistyle.scss */
.breadcrumbs li:first-child {
  padding: 0;
}
/* line 298, ../sass/uistyle.scss */
.breadcrumbs li:first-child:before {
  display: none;
}
/* line 303, ../sass/uistyle.scss */
.breadcrumbs a {
  color: #9ba3a8;
  text-decoration: none;
}
/* line 306, ../sass/uistyle.scss */
.breadcrumbs a:hover {
  text-decoration: underline;
}

/* line 312, ../sass/uistyle.scss */
.buttons .btn {
  width: 140px;
  height: 48px;
  border-radius: 4px;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  border: none;
  margin-bottom: 25px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
}
/* line 322, ../sass/uistyle.scss */
.buttons .btn.accent {
  height: 40px;
}
/* line 326, ../sass/uistyle.scss */
.buttons .light {
  background: #fff;
  border: 2px solid #113d59;
}
/* line 329, ../sass/uistyle.scss */
.buttons .light.hover {
  background: #113d59;
  color: #fff;
}
/* line 333, ../sass/uistyle.scss */
.buttons .light.active {
  background: #07273b;
  color: #fff;
}
/* line 338, ../sass/uistyle.scss */
.buttons .dark {
  background: #113d59;
  color: #fff;
}
/* line 341, ../sass/uistyle.scss */
.buttons .dark.hover {
  background: #07273b;
}
/* line 344, ../sass/uistyle.scss */
.buttons .dark.active {
  background: #3a6f90;
}
/* line 348, ../sass/uistyle.scss */
.buttons .accent {
  background: #e74c3c;
  color: #fff;
}
/* line 354, ../sass/uistyle.scss */
.buttons .accent.active {
  background: #ee7265;
}

/* line 359, ../sass/uistyle.scss */
.form_wrap {
  display: flex;
  justify-content: flex-start;
}
/* line 362, ../sass/uistyle.scss */
.form_wrap .input {
  width: 310px;
}
/* line 364, ../sass/uistyle.scss */
.form_wrap .input input {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background: #f7f8f9;
  padding-left: 12px;
  border: none;
  -webkit-box-shadow: inset 0px 3px 7px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px 3px 7px 3px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 3px 7px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}
/* line 378, ../sass/uistyle.scss */
.form_wrap .input input:disabled {
  opacity: .5;
  cursor: not-allowed;
}
/* line 382, ../sass/uistyle.scss */
.form_wrap .input .active {
  background: #fff;
}
/* line 385, ../sass/uistyle.scss */
.form_wrap .input .error {
  border: 1px solid #e74c3c;
  /* Firefox 19+ */
  /* Firefox 18- */
}
/* line 387, ../sass/uistyle.scss */
.form_wrap .input .error::-webkit-input-placeholder {
  color: #e74c3c;
}
/* line 388, ../sass/uistyle.scss */
.form_wrap .input .error::-moz-placeholder {
  color: #e74c3c;
}
/* line 389, ../sass/uistyle.scss */
.form_wrap .input .error:-moz-placeholder {
  color: #e74c3c;
}
/* line 390, ../sass/uistyle.scss */
.form_wrap .input .error:-ms-input-placeholder {
  color: #e74c3c;
}
/* line 393, ../sass/uistyle.scss */
.form_wrap .checkbox {
  width: 120px;
  margin: 0 40px;
}
/* line 396, ../sass/uistyle.scss */
.form_wrap .checkbox label {
  margin-bottom: 20px;
  display: block;
}
/* line 400, ../sass/uistyle.scss */
.form_wrap .checkbox input[type="checkbox"] {
  display: none;
}
/* line 403, ../sass/uistyle.scss */
.form_wrap .checkbox input[type="checkbox"] + label {
  padding-left: 25px;
  cursor: pointer;
  position: relative;
}
/* line 408, ../sass/uistyle.scss */
.form_wrap .checkbox input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 20px;
  height: 20px;
  background: url(../img/icon/check_box.png) no-repeat;
  background-position: 0;
}
/* line 417, ../sass/uistyle.scss */
.form_wrap .checkbox input[type="checkbox"]:checked + label:before {
  background-position: -31px 0px;
}
/* line 420, ../sass/uistyle.scss */
.form_wrap .checkbox input[type="radio"] {
  display: none;
}
/* line 423, ../sass/uistyle.scss */
.form_wrap .checkbox input[type="radio"] + label {
  padding-left: 25px;
  cursor: pointer;
  position: relative;
}
/* line 428, ../sass/uistyle.scss */
.form_wrap .checkbox input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 20px;
  height: 20px;
  background: url(../img/icon/radio.png) no-repeat;
  background-position: 0;
}
/* line 437, ../sass/uistyle.scss */
.form_wrap .checkbox input[type="radio"]:checked + label:before {
  background-position: -31px 0px;
}
/* line 442, ../sass/uistyle.scss */
.form_wrap .alerts div {
  width: 430px;
  height: 42px;
  border-radius: 4px;
  position: relative;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
  line-height: 42px;
  padding-left: 15px;
  margin-bottom: 30px;
}
/* line 451, ../sass/uistyle.scss */
.form_wrap .alerts div .close {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 22px;
}
/* line 458, ../sass/uistyle.scss */
.form_wrap .alerts .acceept_message {
  background: #113d59;
  color: #fff;
}
/* line 462, ../sass/uistyle.scss */
.form_wrap .alerts .error_message {
  background: #e74c3c;
  color: #fff;
}

/* line 468, ../sass/uistyle.scss */
.select {
  width: 260px;
  height: 42px;
  color: #113d59;
  border: 1px solid #113d59;
  position: relative;
}
/* line 475, ../sass/uistyle.scss */
.select:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  background: url(../img/icon/sellect_arrow.png) no-repeat center;
}
/* line 484, ../sass/uistyle.scss */
.select select {
  outline: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  padding-left: 15px;
}

/* line 499, ../sass/uistyle.scss */
.tables table {
  width: 100%;
}
/* line 501, ../sass/uistyle.scss */
.tables table th {
  background: #113d59;
  color: #fff;
  font-family: "MuseoSansCyrl700", sans-serif, arial;
}
/* line 506, ../sass/uistyle.scss */
.tables table th, .tables table td {
  height: 43px;
  padding: 0 15px;
}
/* line 510, ../sass/uistyle.scss */
.tables table .number {
  width: 170px;
}

/* line 516, ../sass/uistyle.scss */
.img_left.paragraph {
  line-height: 26px;
}
/* line 519, ../sass/uistyle.scss */
.img_left img {
  float: left;
  margin-right: 40px;
}

/* line 525, ../sass/uistyle.scss */
.img_right.paragraph {
  line-height: 26px;
}
/* line 528, ../sass/uistyle.scss */
.img_right img {
  float: right;
  margin-left: 40px;
}
