@font-face {
  font-family: 'MuseoSansCyrl100';
  src: url('../fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot');
  src: url('../fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff2') format('woff2'),
  url('../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff') format('woff'),
  url('../fonts/MuseoSansCyrl100/MuseoSansCyrl100.ttf') format('truetype'),
  url('../fonts/MuseoSansCyrl100/MuseoSansCyrl100.svg#MuseoSansCyrl100') format('svg');
}
@font-face {
  font-family: 'MuseoSansCyrl300';
  src: url('../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot');
  src: url('../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff2') format('woff2'),
  url('../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff') format('woff'),
  url('../fonts/MuseoSansCyrl300/MuseoSansCyrl300.ttf') format('truetype'),
  url('../fonts/MuseoSansCyrl300/MuseoSansCyrl300.svg#MuseoSansCyrl100') format('svg');
}
@font-face {
  font-family: 'MuseoSansCyrl500';
  src: url('../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot');
  src: url('../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff2') format('woff2'),
  url('../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff') format('woff'),
  url('../fonts/MuseoSansCyrl500/MuseoSansCyrl500.ttf') format('truetype'),
  url('../fonts/MuseoSansCyrl500/MuseoSansCyrl500.svg#MuseoSansCyrl500') format('svg');
}
@font-face {
  font-family: 'MuseoSansCyrl700';
  src: url('../fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot');
  src: url('../fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff2') format('woff2'),
  url('../fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff') format('woff'),
  url('../fonts/MuseoSansCyrl700/MuseoSansCyrl700.ttf') format('truetype'),
  url('../fonts/MuseoSansCyrl700/MuseoSansCyrl700.svg#MuseoSansCyrl700') format('svg');
}
@font-face {
  font-family: 'MuseoSansCyrl900';
  src: url('../fonts/MuseoSansCyrl900/MuseoSansCyrl900.eot');
  src: url('../fonts/MuseoSansCyrl900/MuseoSansCyrl900.eot') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl900/MuseoSansCyrl900.woff2') format('woff2'),
  url('../fonts/MuseoSansCyrl900/MuseoSansCyrl900.woff') format('woff'),
  url('../fonts/MuseoSansCyrl900/MuseoSansCyrl900.ttf') format('truetype'),
  url('../fonts/MuseoSansCyrl900/MuseoSansCyrl900.svg#MuseoSansCyrl100') format('svg');
}
