//fonts
$font100: 'MuseoSansCyrl100', sans-serif, arial;
$font300: 'MuseoSansCyrl300', sans-serif, arial;
$font500: 'MuseoSansCyrl500', sans-serif, arial;
$font700: 'MuseoSansCyrl700', sans-serif, arial;
$font900: 'MuseoSansCyrl900', sans-serif, arial;

//color
$main-color: #113d59;
$accent-color: #e74c3c;



$shadow: 0px 20px 100px -18px rgba(0,0,0,0.5);

$border: 2px solid $main-color;

$border-radius: 4px;