@import "compass/reset";
@import "variables";
@import "fonts";

body{
  font-size: 16px;
  font-family: $font300;
  color: $main-color;
  background: #f7f9fa;
  overflow-x: hidden;
}
button,input,select,span{
  outline:none;
}
*{
  box-sizing: border-box;
}
.container{
  width: 1160px;
  margin: 0 auto;
}
button{
  cursor: pointer;
}
header{
  .top_line{
    background: #fff;
    padding: 20px 0;
    .logo{
      width: 280px;
      img{
        width:260px;
        margin-bottom:10px;
      }
      a{
        text-decoration: none;
        letter-spacing: 6px;
        color: $main-color;
      }
    }
    .address{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 55%;
      font-size: 14px;
      color: #636f76;
      padding-top:5px;
      .address_block{
        padding-left:15px;
        a{
          margin-top:5px;
          display: block;
          font-family: $font100;
          text-decoration: underline;
          color: #636f76;
          cursor: pointer;
        }
        &:hover{
          a{
            text-decoration: none;
          }
        }
      }
      .map{
        background: url(../img/icon/location_icon.png) no-repeat left 1px;
      }
      .phone{
        background: url(../img/icon/phone_icon.png) no-repeat left 1px;
      }
    }
    .button{
      .sell_car{
        width:180px;
        height: 40px;
        font-family:$font500;
        border:none;
        border-radius: $border-radius;
        background: $accent-color;
        color: #fff;
        font-size: 14px;
        &:hover{
          background: adjust_saturation($accent-color, 30%);
        }
      }
      .open_menu{
        display: none;
        border: none;
        width: 38px;
        height:30px;
        position: absolute;
        top:1px;
        right:0;
        background: url(../img/icon/menu_icon.png) no-repeat center;
      }
    }
  }
  .top_line_wrap{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .top_slider{
    p{
      font-size:60px;
      font-family:$font900;
      color: #fff;
      text-transform: uppercase;
      margin-top: 160px;
      line-height: 85px;
    }
    .slide{
      height:600px;
    }
    .slide1{
      background: url(../img/top_slider_img.jpg) no-repeat center;
      background-size:cover;
    }
    .slide2{
      background: url(../img/top_slider_img2.jpg) no-repeat center;
      background-size:cover;
    }
    .slide3{
      background: url(../img/top_slider_img3.jpg) no-repeat center;
      background-size:cover;
    }
    .slick-prev{
      left: 200px;
    }
    .slick-next{
      right:200px;
      transform: rotate(180deg);
      transform-origin: 50% 25%;
    }
    .slick-prev, .slick-next{
      width: 50px;
      height: 50px;
      z-index:10;
      background: url(../img/icon/top_slider_arrow.png) no-repeat center;
      opacity: .6;
      &:hover{
        opacity:1;
      }
      &:before{
        display: none;
      }
    }
    .slick-dots{
      bottom: 55px;
      li{
        margin: 0 7px;
        &.slick-active{
          button{
            opacity:1;
          }
        }
      }
      button{
        background: #fff;
        width: 30px;
        height:4px;
        border-radius: 3px;
        padding: 0;
        opacity: .4;
        &:before{
          display: none;
        }
      }
    }
  }
}



.section_title{
  h1{
    font-size: 26px;
    font-family: $font700;
    text-align: center;
    text-transform: uppercase;
  }
  h2{
    font-size: 26px;
    font-family: $font700;
    text-align: center;
    text-transform: uppercase;
  }
}
.buy_out{
  background: url("../img/bg_section.png") no-repeat center;
  background-size: cover;
  height:960px;
  padding-top: 110px;
  font-size:16px;
  .section_title{
    margin-bottom: 43px;
  }
  p{
    line-height: 22px;
    margin-bottom:30px;
  }
  .cooperate_wrap{
    margin-top:65px;
    display: flex;
    justify-content: space-between;
    .cooperate_block{
      width:570px;
      height: 130px;
      text-align: center;
      font-size: 18px;
      font-family:$font700;
      border-radius: $border-radius;
      border: $border;
      color: $main-color;
      text-decoration: none;
      display: flex;
      span{
        margin:auto;
      }
      &.individual{
        background: url(../img/individual_sprite.png)no-repeat 15px 15px;
        &:hover{
          background: url(../img/individual_sprite.png)no-repeat 15px -80px $main-color;
          color: #fff;
        }
      }
      &.entity{
        background: url(../img/entity_sprite.png)no-repeat 20px 0;
        padding-left:85px;
        &:hover{
          background: url(../img/entity_sprite.png)no-repeat 20px -120px $main-color;
          color: #fff;
        }

      }
    }
  }
}
.comfort{
  padding: 50px 0 55px;
  .comfort_wrap{
    display: flex;
    margin-top:10px;
    justify-content: space-between;
    .information{
      width:600px;
      p{
        line-height: 22px;
        margin-bottom:30px;
        &:first-child{
          margin-top:40px;
        }
      }
    }
    .advantages{
      width:500px;
      background: #fff;
      border-radius: 10px;
      ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 30px 0;
        padding-left:40px;
      }
      li{
        display: flex;
        height: 50px;
        align-items: center;
        padding-left:100px;
        font-family:$font700;
        position: relative;
        &:before{
          content: '';
          display: block;
          width:50px;
          height:50px;
          position: absolute;
          border-radius: 50%;
          top:0;
          left:0;
          background-color: $main-color;
        }
        &.price{
          &:before{
            background: url(../img/icon/price_icon.png)no-repeat center $main-color;
          }
        }
        &.document{
          &:before{
            background: url(../img/icon/document_icon.png)no-repeat center $main-color;
          }
        }
        &.costs{
          &:before{
            background: url(../img/icon/money_box_icon.png)no-repeat center $main-color;
          }
        }
        &.warranty{
          &:before{
            background: url(../img/icon/warranty_icon.png)no-repeat center $main-color;
          }
        }
      }
    }
  }
}
.redeemable_car{
  height: 765px;
  background: url(../img/bg_buyout_normal.jpg) center;
  background-size:cover;
  padding-top:80px;
  &.moscow{
    background: url(../img/bg_buyout_msk.jpg) center;
  }
  .car_item_wrap{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .car_item{
    width:260px;
    height: 80px;
    background-color: #fff;
    border-radius: $border-radius;
    border: $border;
    margin-bottom: 40px;
    cursor: pointer;
    padding-left:100px;
    align-items: center;
    display: flex;
    font-family: $font700;
    color: $main-color;
    text-decoration: none;
    background: url(../img/icon/car_sprite.png) repeat-y #fff;
    &.active{
      color: #fff;
      background-color: $main-color;
    }
    &.new{
      background-position: 0 330px;
      &.active{
        background-position: 0 387px;
      }
    }
    &.previously_used{
      background-position: 0 208px;
      &.active{
        background-position: 0 269px;
      }
    }
    &.broken{
      background-position: 0 -61px;
      &.active{
        background-position: 0 5px;
      }
    }
    &.moscow{
      background-position: 0 460px;
      &.active{
        background-position: 0 548px;
      }
    }
    &.region{
      background-position: 0 72px;
      &.active{
        background-position: 0 143px;
      }
    }
    &.commercial{
      background-position: 0px -345px;
      &.active{
        background-position: 0 -275px;
      }
    }
    &.corporate{
      background-position: 0px -474px;
      &.active{
        background-position: 0px -411px;
      }
    }
    &.car_park{
      background-position: 0px -206px;
      &.active{
        background-position: 0px -133px;
      }
    }
  }
  .car_img{
    background: url(../img/new_car.png)no-repeat center;
    height:360px;
  }
}
.bought_car{
  height: 800px;
  padding-top: 80px;
  clear: both;
  .section_title{
    span{
      color: $accent-color;
    }
  }
  .bought_car_slider{
    margin: 55px 0;
    .car_item{
      background: #fff;
      overflow: hidden;
      border-radius: 10px;
      .car_photo{
        height:230px;
        overflow: hidden;
        img{
          width:100%;
          height:auto;
        }
      }
    }
    .car_info{
      padding: 30px 40px;
      font-size:14px;
      font-family: $font500;
      span{
        line-height: 25px;
      }
      .name{
        font-size:22px;
        margin-bottom: 20px;
      }
      .info_wrap{
        display: inline-block;
      }
      .year, .mileage{
        font-family:$font300;
      }
      .date_bought_wrap{
        float: right;
        width: 95px;
        font-family: $font700;
      }
      .bought_price{
        display: block;
        width:100%;
        height: 50px;
        margin-top:20px;
        border: $border;
        border-radius: $border-radius;
        font-family:$font700;
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        line-height: 45px;
        color: $main-color;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        &:hover{
          color: #fff;
          background: $main-color;
        }
      }
    }
    .slick-slide {
      margin: 0 20px;
    }
    .slick-list {
      margin: 0 -20px;
    }
    .slick-prev, .slick-next{
      width: 68px;
      height:68px;
      border-radius: 50%;
      z-index: 10;
      -webkit-box-shadow: 0 3px 5px 0 rgba(124,149,161,0.2);
      -moz-box-shadow: 0 3px 5px 0 rgba(124,149,161,0.2);
      box-shadow: 0 3px 5px 0 rgba(124,149,161,0.2);
      opacity: .5;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
      &:hover{
        opacity: 1;
      }
      &:before{
        display: none;
      }
    }
    .slick-prev{
      left: -248px;
      background: url(../img/icon/slider_arrow.png) center no-repeat #fff;
    }
    .slick-next{
      background: url(../img/icon/slider_arrow.png) center no-repeat #fff;
      transform: rotate(180deg);
      transform-origin: 50% 25%;
      -webkit-box-shadow: 0 -3px 5px 0 rgba(124,149,161,0.2);
      -moz-box-shadow: 0 -3px 5px 0 rgba(124,149,161,0.2);
      box-shadow: 0 -3px 5px 0 rgba(124,149,161,0.2);
      right: -248px;

    }
  }
  .watch_all{
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 50px;
    border: $border;
    border-radius: $border-radius;
    background: transparent;
    font-family:$font500;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: $main-color;
    line-height: 47px;
    &:hover{
      background: $main-color;
      color: #fff;
    }
  }
}
.how_work{
  height:740px;
  background: url(../img/bg_we_work.jpg) center;
  background-size:cover;
  padding-top:60px;
  overflow: hidden;
  .section_title{
    h2{
      color: #fff;
    }
  }
}
.how_work_small{
  margin-top: 70px;
  .work_item_wrap{
    display: flex;
    max-width: 760px;
    justify-content: space-around;
    .work_item{
      width:110px;
      text-align: center;
      font-family: $font700;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 40px;
        right: -44px;
        display: block;
        width:20px;
        height:20px;
        background: url(../img/icon/work_arrow.png) no-repeat center;
        background-size: 10px;
      }
      &:last-child{
        &:before{
          display: none;
        }
      }
    }
    .img_item{
      width: 102px;
      height:102px;
      margin-bottom:40px;
      background: url(../img/icon/howwork_sprite.png);
      &.tell{
        background-position: -13px -10px;
        &:hover{
          background-position: -136px -10px;
        }
      }
      &.car{
        background-position: -13px -133px;
        &:hover{
          background-position: -136px -133px;
        }
      }
      &.doc{
        background-position: -13px -259px;
        &:hover{
          background-position: -136px -259px;
        }
      }
      &.cash{
        background-position: -13px -385px;
        &:hover{
          background-position: -136px -385px;
        }
      }
    }
  }
}
.reviews_block{
  margin-top:80px;
  height:525px;
  .reviews_wrap{
    margin: 55px 0;
    display: flex;
    justify-content: space-between;
    .reviews{
      width:560px;
      height: 280px;
      background: #fff;
      opacity:1;
      border-radius: $border-radius;
      -webkit-box-shadow: 0px 3px 5px 0px rgba(210,215,217,0.5);
      -moz-box-shadow: 0px 3px 5px 0px rgba(210,215,217,0.5);
      box-shadow: 0px 3px 5px 0px rgba(210,215,217,0.5);
      iframe{
        width:100%;
        height:100%;
      }
    }
  }
  .watch_all{
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 50px;
    border: $border;
    border-radius: $border-radius;
    background: transparent;
    font-family:$font500;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: $main-color;
    line-height: 47px;
    &:hover{
      background: $main-color;
      color: #fff;
    }
  }
}
.partners{
  padding: 55px 0;
  background: #fff;
  .partners_slider{
    margin-top:55px;
    a{
      display: flex;
      height: 50px;
      img{
        margin: auto;
      }
    }
    .slick-prev, .slick-next{
      width: 68px;
      height:68px;
      border-radius: 50%;
      z-index: 10;
      -webkit-box-shadow: 0 3px 5px 0 rgba(124,149,161,0.2);
      -moz-box-shadow: 0 3px 5px 0 rgba(124,149,161,0.2);
      box-shadow: 0 3px 5px 0 rgba(124,149,161,0.2);
      opacity: .5;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
      &:hover{
        opacity: 1;
      }
      &:before{
        display: none;
      }
    }
    .slick-prev{
      left: -248px;
      background: url(../img/icon/slider_arrow.png) center no-repeat #fff;
    }
    .slick-next{
      right: -248px;
      background: url(../img/icon/slider_arrow.png) center no-repeat #fff;
      transform: rotate(180deg);
      transform-origin: 50% 25%;
      -webkit-box-shadow: 0 -3px 5px 0 rgba(124,149,161,0.2);
      -moz-box-shadow: 0 -3px 5px 0 rgba(124,149,161,0.2);
      box-shadow: 0 -3px 5px 0 rgba(124,149,161,0.2);
    }
  }
}
footer{
  background: #f7f9fa;
  clear: both;
  nav.menu{
    margin-bottom:30px;
    -webkit-box-shadow: 0 -5px 10px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 -5px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,0.3);
  }
  .phone_block{
    display: none;
    background: $main-color;
    -webkit-box-shadow: 0 -5px 10px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 -5px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,0.3);
  }
  .footer_wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  .address{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    .address_block{
      position: relative;
      width: 190px;
      font-size:14px;
      padding-left: 30px;
      color: #636f76;
      span{
        position: absolute;
        top:-15px;
        left:30px;
        font-size:12px;
        font-family: $font100;
      }
      &.phone{
        width:190px;
        background: url(../img/icon/phone_icon.png) no-repeat 15px 1px;
      }
      &.map{
        width:270px;
        background: url(../img/icon/location_icon.png) no-repeat 18px 1px;
      }
      &.feedback{
        width: 205px;
        background: url(../img/icon/feedback_icon.png) no-repeat left 2px;
        font-family: $font500;
        a{
          color: #636f76;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  .logo{
    width: 280px;
    img{
      width:260px;
    }
  }
  .bottom_line{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 20px;
    a{
      color: #636f76;
      text-decoration: none;
      font-size: 12px;
    }
  }
  .social{
    width: 160px;
    position: absolute;
    top:-5px;
    left: calc(50% - 80px);
    ul{
      display: flex;
      justify-content: space-between;
    }
    li{
      display: block;
      height: 21px;
      width:21px;
      &.vk{
        background: url(../img/icon/vk_icon.png) no-repeat center;
      }
      &.fb{
        background: url(../img/icon/fb_icon.png) no-repeat center;
      }
      &.twitter{
        background: url(../img/icon/tw_icon.png) no-repeat center;
      }
      &.ok{
        background: url(../img/icon/ok_icon.png) no-repeat center;
      }
      &.mail_ru{
        background: url(../img/icon/mail_icon.png) no-repeat center;
      }
      a{
        display: block;
        width:100%;
        height:100%;
      }
    }
  }
  .develop{
    a{
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.visible_small{
  display: none;
}

.breadcrumbs{
  color: #9ba3a8;
  margin-bottom:20px;
  li{
    display: inline-block;
    padding-left: 10px;
    &:before{
      content: '>';
      margin-right: 10px;
    }
    &:first-child{
      padding: 0;
      &:before{
        display: none;
      }
    }
  }
  a{
    color: #9ba3a8;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
.brands{
  height: auto;
  padding-top: 30px;
  margin-bottom: 50px;
  .section_title h2{
    text-align: left;
  }
  .car_item_wrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .car_item {
    width: 160px;
    height: 60px;
    background-color: #fff;
    border-radius: $border-radius;
    border: 2px solid #fff;
    margin-bottom: 40px;
    cursor: pointer;
    align-items: center;
    display: flex;
    font-family: $font700;
    font-size: 14px;
    margin-right: 10px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(210, 215, 217, 0.5);
    -moz-box-shadow: 0 3px 5px 0 rgba(210, 215, 217, 0.5);
    box-shadow: 0 3px 5px 0 rgba(210, 215, 217, 0.5);
    color: $main-color;
    text-decoration: none;
    &:hover{
      border: $border;
    }
    &:nth-child(6n){
      margin-right: 0;
    }
.img_brands{
  width: 38%;
  text-align: center;
  margin-right: 10px;
}
    }
  }
.contacts {
  height: auto;
  padding-top: 30px;
  margin-bottom: 50px;
  .section_title h2 {
    text-align: left;
  }
  .contacts_block{
    padding-top: 45px;
    display: inline-block;
   .contacts_item{
    color: #4b6c81;
    font-family:$font300;
     padding-bottom: 30px;
    span{
      color: $main-color;
      font-family:$font500;
    }
     .phone{
       margin-left: 30px;
     }
     .address{
       margin-left: 48px;
     }
   }
  }
}
#map{
  margin-bottom: 60px;
  float: right;
  width: 760px;
  height:480px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(210, 215, 217, 1.5);
  -moz-box-shadow: 0px 10px 20px 0px rgba(210, 215, 217, 1.5);
  box-shadow: 0px 10px 20px 0px rgba(210, 215, 217, 1.5);
}
.error{
  height: auto;
  text-align: center;
  max-width:440px;
  margin: 110px auto;
  img{
    width: 100%;
  }
  h3{
    font-family:$font700;
    font-size: 25px;
    padding: 30px 0 45px;
    line-height: 1.6;
  }
  p{
    font-family:$font300;
    font-size: 16px;
    padding-bottom: 15px;
  }
  .on_main_btn{
    width:180px;
    height: 40px;
    font-family:$font500;
    border:none;
    border-radius: $border-radius;
    background: $accent-color;
    color: #fff;
    font-size: 14px;
    &:hover{
      background: adjust_saturation($accent-color, 30%);
    }
  }
}
.preliminary_estimate{
  float: right;
  max-width: 800px;
  padding: 25px 0 25px 40px;
  width: 69%;
  .section_title h2{
    text-align: left;
    padding-bottom: 15px;
  }
  .section_title p{
    padding-top: 30px;
    font-family:$font300;
    font-size: 16px;
    line-height: 2;
  }
  .application{
    max-width: 460px;
    margin: 60px auto;
    text-align: center;
    background: #fff;
    min-height: 740px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
    box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
    border-radius: 10px;
    p{
      font-family:$font700;
      font-size: 26px;
      padding-top: 40px;
      text-transform: uppercase;
    }
    input,select{
      font-family:$font300;
      color: #9fa3a7;
      font-size: 14px;
      max-width: 340px;
      width: 74%;
      margin: 40px auto 0;
      box-sizing: border-box;
      height:40px;
      border: 0;
      display: block;
      border-radius: 5px;
      background: #f7f8f9;
      -webkit-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
      padding:0 20px;
    }
    select{
      background:url("../img/icon/select_arrow.png") no-repeat right #f7f8f9;
      -webkit-appearance: none;
      background-position-x: 95%;
    }
    .jfilestyle{
      max-width: 340px;
      width: 74%;
      margin: 0 auto 30px;
      text-align: left;
      cursor: pointer;
      position: relative;
      top: 40px;
    }
    .jfilestyle input{
      position: absolute;
      pointer-events: none;
      background: transparent;
      border: none;
      box-shadow: none;
      font-size: 14px;
      max-width: 340px;
      width: 80%;
      top: 0;
      left: 10px;
      margin: 0;
      text-decoration: underline;
    }
    .jfilestyle span{
      font-family:$font300;
      color: #9fa3a7;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
.modal_btn{
  max-width: 340px;
  width: 74%;
  height: 50px;
  font-family:$font500;
  border:none;
  border-radius: $border-radius;
  background: $accent-color;
  color: #fff;
  font-size: 16px;
  margin-top: 43px;
  &:hover{
    background: adjust_saturation($accent-color, 30%);
  }
}
.feedback_block{
  background: url("../img/preliminary-estimate-bg.jpg") no-repeat;
  width:100%;
  height: 200px;

  .feedback_in{
    position: relative;
    height:100%;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
  img{
    position: absolute;
    bottom: -30px;
    left: 10px
  }
    p{
      color: #fff;
      font-family:$font700;
      font-size: 26px;
      padding-bottom:28px;
      text-transform: uppercase;
      line-height: 1.7;
    }
    .feedback_form{
      padding:50px 0 0 400px;
      input{
        font-family:$font300;
        color: #9fa3a7;
        font-size: 14px;
        height:40px;
        width: 280px;
        box-sizing: border-box;
        border: none;
        vertical-align: top;
        -webkit-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
        padding:0 20px;
      }
      .name{
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
      .modal_btn{
        width:190px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin: 0;
        height: 40px;
      }
    }
  }
}
.nav_menu_left{
  width: 360px;
  float: left;
  .advantages{
    width:100%;
    background: #fff;
    border-radius: 10px;
    margin-top: 50px;
    .title{
      display: flex;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      align-items: center;
      background: $main-color;
      color: #fff;
      font-family:$font700;
      font-size: 20px;
      height: 60px;
      padding-left:15px;
      opacity: .7;
      text-transform: uppercase;
    }
    ul{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      padding: 15px 0 0 15px;
    }
    li{
      display: flex;
      height: 50px;
      align-items: center;
      padding-left:70px;
      font-family:$font300;
      position: relative;
      margin-bottom: 30px;
      color: #9ba3a8;
      &:before{
        content: '';
        display: block;
        width:50px;
        height:50px;
        position: absolute;
        border-radius: 50%;
        top:0;
        left:0;
        background-color: $main-color;
        opacity: .7;
      }
      &.price{
        &:before{
          background: url(../img/icon/price_icon.png)no-repeat center $main-color;
        }
      }
      &.document{
        &:before{
          background: url(../img/icon/document_icon.png)no-repeat center $main-color;
        }
      }
      &.costs{
        &:before{
          background: url(../img/icon/money_box_icon.png)no-repeat center $main-color;
        }
      }
      &.warranty{
        &:before{
          background: url(../img/icon/warranty_icon.png)no-repeat center $main-color;
        }
      }
    }
  }
  .sub_menu {
    border-top: 4px solid $main-color;
    margin-top: 20px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
    box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
    .dropdown {
      -webkit-box-shadow: inset 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
      -moz-box-shadow: inset 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
      box-shadow: inset 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
      a {
        text-decoration: none;
        font-size: 16px;
      }
      .dropdown_item {
        position: relative;
        color: #9ba3a8;
        font-family:$font700;
        padding: 5px 25px;
        height:50px;
        display: flex;
        align-items: center;
        background: #fff;
        border: 1px solid #f7f9fa;
        //border-bottom: none;
        &:hover {
          color: $main-color;
        }
        &:before {
          content: "";
          display: inline-block;
          height: 9px;
          width: 9px;
          margin: 0 10px 0 0;
          background: url(../img/icon/sub_menu_sheck.png) no-repeat 0;
        }
        &.open {
          height: 37px;
          background: transparent;
          border: none;
          color: $main-color;
          &:before {
            background: url(../img/icon/sub_menu_sheck.png) no-repeat -10px 0px;
          }
        }
      }
      .dropdown-menu {
        max-height: 0;
        overflow: hidden;
        li {
          padding: 0;

          a {
            color: #9ba3a8;
            height: 37px;
            display: flex;
            align-items: center;
            padding: 5px 0 5px 30px;
            font-family:$font500;
            font-size: 14px;
            &:before {
              content: "";
              display: inline-block;
              height: 9px;
              width: 9px;
              margin: 0 10px 0 0;
              background: url(../img/icon/sub_menu_sheck.png) no-repeat 0;
            }
            &:hover {
              color: $main-color;
            }
          }
        }
        .dropdown {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          a {
            text-decoration: none;
            font-size: 14px;
          }
          .dropdown_item {
            position: relative;
            color: $main-color;
            font-weight: bold;
            padding: 5px 30px;
            background: transparent;
            border: none;
            display: flex;
            align-items: center;
            &:hover {
              color: $main-color;
            }
            &:before {
              content: "";
              display: inline-block;
              height: 9px;
              width: 9px;
              margin: 0 10px 0 0;
              background: url(../img/icon/sub_menu_sheck.png) no-repeat -10px 0px;
            }
            &.open {
              color: #9ba3a8;
              &:before {
                background: url(../img/icon/sub_menu_sheck.png) no-repeat 0;
              }
            }
          }
          .dropdown-menu {
            //max-height: 0;
            overflow: hidden;
            li {
              padding: 0 30px;

              a {
                color: #9ba3a8;
                display: block;
                padding: 5px 0 5px 30px;
                font-family:$font100;
                &:before {
                  content: "";
                  display: inline-block;
                  height: 9px;
                  width: 9px;
                  margin: 0 10px 0 0;
                  background: url(../img/icon/sub_menu_sheck.png) no-repeat 0;
                }
              }
            }
          }
        }
      }
      .show {
        -webkit-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
        -moz-box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
        box-shadow: 0px 3px 5px 0px rgba(210, 215, 217, 0.5);
        display: block;
        max-height: 9999px;
      }
    }
  }
  .reviews{
    height: auto;
    background: #fff;
    position: relative;
    margin-top: 50px;
    .title{
      display: flex;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      align-items: center;
      background: $main-color;
      color: #fff;
      font-family:$font700;
      font-size: 20px;
      height: 60px;
      padding-left:15px;
      opacity: .7;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    .reviews_block{
      background: #f7f9fa;
      border-radius: 5px;
      margin: 5px;
      padding: 25px 15px 20px;
      height: auto;
      .name{
        font-family:$font500;
        float: left;
      }
      .date{
        font-family:$font500;
        float: right;
        background: url("../img/icon/commenting.png") no-repeat 27px 0;
        text-align: right;
        width: 40%;
      }
      .description{
        padding-top: 25px;
        clear: both;
        font-family:$font300;
        line-height: 1.3;
      }
      .stars{
        padding: 10px 0 0;
        text-align: right;
      }
    }
    .nav_menu_btn{
      display: block;
      width: 100%;
      height: 50px;
      margin-top: 20px;
      border: 2px solid #113d59;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      font-family: "MuseoSansCyrl700", sans-serif, arial;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
      line-height: 45px;
      color: #113d59;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
      bottom: 0;
      &:hover {
        color: #fff;
        background: #113d59;
      }
    }
  }
}
.modal{
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(17, 61, 89, 0.4);
  .modal-content{
    position: relative;
    max-width: 460px;
    margin: 0 auto;
    width: 100%;
    .close {
      position: absolute;
      font-size: 30px;
      top: 5px;
      right: 15px;
      font-weight: 100;
      cursor: pointer;
      color: #9fa3a7;
    }
  }
  .application{
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    min-height: 740px;
    border-radius: 10px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    p{
      font-family:$font700;
      font-size: 26px;
      padding-top: 40px;
      text-transform: uppercase;
    }
    input,select{
      font-family:$font300;
      color: #9fa3a7;
      font-size: 14px;
      max-width: 340px;
      width: 74%;
      margin: 40px auto 0;
      box-sizing: border-box;
      height:40px;
      border: 0;
      display: block;
      border-radius: 5px;
      background: #f7f8f9;
      -webkit-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.1);
      padding:0 20px;
      &:active   {
        background: #fff;
      }
    }

    select{
      background:url("../img/icon/select_arrow.png") no-repeat right #f7f8f9;
      -webkit-appearance: none;
      background-position-x: 95%;
    }
    .jfilestyle{
      max-width: 340px;
      width: 74%;
      margin: 0 auto 30px;
      text-align: left;
      cursor: pointer;
      position: relative;
      top: 40px;
    }
    .jfilestyle input{
      position: absolute;
      pointer-events: none;
      background: transparent;
      border: none;
      box-shadow: none;
      font-size: 14px;
      max-width: 340px;
      width: 80%;
      top: 0;
      left: 10px;
      margin: 0;
      text-decoration: underline;
    }
    .jfilestyle span{
      font-family:$font300;
      color: #9fa3a7;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
.urgent_repayment{
  float: right;
  max-width: 800px;
  padding: 25px 0 0 40px;
  width: 69%;
  .section_title h2{
    text-align: left;
    padding-bottom: 15px;
  }
  .section_title p{
    padding-top: 30px;
    font-family:$font300;
    font-size: 16px;
    line-height: 2;
  }
  .documents{
margin-top: 70px;
    figure{
      display: inline-block;
      width: 240px;
      overflow: hidden;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      margin-top: 40px;
      img{
        height: 155px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }
      figcaption{
        font-family:$font500;
        padding-top: 20px;
        line-height: 2;
      }
    }
  }
  .redemption_cars{
    margin-top: 70px;
    .watch_all{
      margin-top: 20px;
      display: block;
      width: 300px;
      height: 50px;
      border: $border;
      border-radius: $border-radius;
      background: transparent;
      font-family:$font700;
      font-size: 16px;
      color: $main-color;
      &:hover{
        background: $main-color;
        color: #fff;
      }
    }
    p{
      padding-top: 25px;
      font-family:$font300;
      line-height: 1.5;
      color: #4b6c81;
    }
    ul{padding-top: 5px}
    li {
      padding: 20px 0 0 20px;
      line-height: 1.5;
      position: relative;
      color: $main-color;
      &:before {
        position: absolute;
        left: 0;
        top: 27px;
        content: "";
        display: inline-block;
        height: 9px;
        width: 9px;
        margin: 0 10px 0 0;
        background: url(../img/icon/sub_menu_sheck.png) no-repeat -10px 0px;
      }
    }
  }
}
.close_menu{
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  display: none;
}
.back_menu{
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
  display: none;
}
#success_callback{
  .modal-content  {
    img{  margin-top: 100px;
      margin-bottom: 40px;
      width: 200px;
  }
    h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 28px;
}
  p {
  font-size: 21px;
  }
  }
}

//CAR animate style
.road {
  height: 100%;
  position: relative;
  width:430px;
  margin:0 auto;
  .car {
    position: absolute;
    display: none;
    //transition: all .2s;
  }
  .point{
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    .popover{
      width: 130px;
      height: 200px;
      position: relative;
      top: 0;
      left: 0;
      color: #fff;
      padding: 10px;
      font-size: 18px;
      font-family: $font700;
      img{
        transition: .3s;
      }
    }
    .popover1{
      .bottom-section{
        position: absolute;
        left: -100%;
        width: 130px;
        top: 35%;
      }
    }
    .popover2{
      .bottom-section{
        position: absolute;
        right: -115%;
        width: 96px;
        top: 35%;
      }
    }
    .popover3{
      .bottom-section{
        position: absolute;
        left: -100%;
        width: 130px;
        top: 35%;
      }
    }
    .popover4{
      .bottom-section{
        position: absolute;
        left: 130%;
        width: 384px;
        top: 35%;
        font-size: 28px;
      }
    }
  }
  .point1 {
    top: 30px;
    left: 0;
  }
  .point2 {
    top: 134px;
    left: 41%;
  }
  .point3 {
    top: 260px;
    left: 8%;
  }
  .point4 {
    top: 440px;
    left: 55%;
  }
}