@import "variables";
@import "fonts";

@media (min-width: 1020px) and (max-width: 1920px) {
  nav.menu{
    position: relative;
    background: $main-color;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    z-index:15;
    a{
      color: #fff;
      text-decoration: none;
      opacity: .8;

      &:hover{
        opacity:1;
      }
    }
    ul{
      display: flex;
      justify-content: space-between;
      font-family:$font500;
      font-size:18px;
      >li{
        display: flex;
        >a{
          padding: 21px 0;
        }
      }
    }
    .open_sub{
      position: relative;
      ul{
        width:260px;
        background: $main-color;
        position: absolute;
        z-index: 10;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-box-shadow: inset 0 5px 10px 0 rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0 5px 10px 0 rgba(0,0,0,0.3);
        box-shadow: inset 0 5px 10px 0 rgba(0,0,0,0.3);
        li{
          //  &:first-of-type{
          //  margin-top: 50px;
          //}
          a{
            padding: 10px 25px;
            display: block;
            width:100%;
          }
        }
      }

      &:hover{
        >ul{
          display: block;
          top:60px;
          li{
            >ul{
              background: $main-color;
              min-width: 240px;
              position: absolute;
              left:100%;
              top: 0;
              -webkit-box-shadow: inset 5px 0 10px 0 rgba(0,0,0,0.3);
              -moz-box-shadow: inset 5px 0 10px 0 rgba(0,0,0,0.3);
              box-shadow: inset 5px 0 10px 0 rgba(0,0,0,0.3);
              border-top-right-radius:5px;
            }
            &:hover{
              background: #0A2D44;
            }
            position: relative;
            &:hover{
              >ul{
                display: block;
              }
            }
          }
        }
      }
    }
    .sub{
      display: none;
    }
  }
}

@media (max-width: 1670px) {
  header{
    .top_slider{
      .slick-prev{
        left: 50px;
      }
      .slick-next{
        right: 50px;
      }

    }
  }
  .bought_car{
    .bought_car_slider{
      .slick-prev{
        left: -100px;
      }
      .slick-next{
        right: -100px;
      }
    }
  }
  .partners{
    .partners_slider{
      .slick-prev{
        left: -100px;
      }
      .slick-next{
        right: -100px;
      }
    }
  }
}
@media (max-width: 1439px) {
  header{
    .top_slider{
      .slick-prev{
        left: 10px;
      }
      .slick-next{
        right: 10px;
      }

    }
  }
  .bought_car{
    .bought_car_slider{
      .slick-prev{
        left: -34px;
      }
      .slick-next{
        right: -34px;
      }
    }
  }
  .partners{
    .partners_slider{
      .slick-prev{
        left: -34px;
      }
      .slick-next{
        right: -34px;
      }
    }
  }
}
@media (max-width: 1250px) {
  .container {
    width: 960px;
  }
  header {
    .top_slider {
      .slide {
        height: 500px;
      }
      p {
        margin-left: 50px;
        font-size: 45px;
        line-height: 60px;
      }
      .slick-dots {
        bottom: 30px;
      }
    }
  }
  .buy_out {
    height: 810px;
    .cooperate_wrap {
      .cooperate_block {
        width: 468px;
        height: 110px;
        padding-left: 70px;
        &.entity {
          padding-left: 110px;
          background-position: 15px -10px;
          &:hover{
            background-position: 15px -130px;
          }
        }
        &.individual{
          background-position: 10px 5px;
          &:hover{
            background-position: 10px -90px;
          }
        }
      }
    }
  }
  .redeemable_car {
    .car_item {
      width: 230px;
      height: 70px;
      margin-bottom: 13px;
    }
  }
  .bought_car {
    .bought_car_slider {
      .car_info {
        padding: 30px;
      }
      .slick-prev, .slick-next {
        width: 55px;
        height: 55px;
      }
      .slick-prev {
        left: -20px;
      }
      .slick-next {
        right: -20px;
      }
    }
  }
  .reviews_block {
    .reviews_wrap {
      .reviews {
        width: 468px;
        height: 240px
      }
    }
  }
  .partners {
    .partners_slider {
      .slick-prev, .slick-next {
        width: 55px;
        height: 55px;
      }
      .slick-prev {
        left: -20px;
      }
      .slick-next {
        right: -20px;
      }
    }
  }
  footer {
    .address {
      width: 70%;
      .address_block {
        &.phone {
          width: 30%;
        }
      }
    }
  }
  .brands {
    .car_item {
      margin-right: 41px;
      &:nth-child(6n) {
        margin-right: 41px;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
  #map {
    width: 560px;
  }
  .feedback_block{
    .feedback_in{
      .feedback_form{
        padding:20px 0 0 400px;
        p{
          width: 45%;
          display: inline-block;
          vertical-align: top;
        }
        form{
          text-align: center;
          width: 50%;
          display: inline-block;
        }
        .name{
          border-radius: 5px;
          margin-bottom: 20px;
        }
        .phone{
          border-radius: 5px;
          margin-bottom: 20px;
        }
        .modal_btn{
          width: 280px;
          border-radius: 5px;
        }
      }
    }
  }
  .nav_menu_left{
    display: none;
  }
  .urgent_repayment{
    float: none;
    max-width: 1250px;
    padding: 25px 0;
    width: 100%;
  }
  .preliminary_estimate{
    float: none;
    max-width: 1250px;
  padding: 25px 0;
    width: 100%;
  }

}
@media (max-width: 1020px) {
  .close_menu{
    display: block;
  }
  .container{
    width: 710px;
  }
  header{
    position: relative;
    .top_line_wrap{
      display: block;
    }
    .top_line{
      -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      .logo{
        img{
          margin-bottom:0;
        }
      }
      .button{
        .sell_car{
          display: none;
        }
        .open_menu{
          display: block;
        }
      }
      .address{
        margin-top: 10px;
        width:100%;
      }
    }
    .top_slider{
        p {
        font-size: 40px;
        line-height: 50px;
      }
    }

    nav.menu{
      transition: ease-in-out .5s;
      position: absolute;
      right:0;
      width:400px;
      border-bottom-left-radius: 5px;
      overflow: hidden;
      padding-top:50px;
      background: $main-color;
      transform: translate(420px,0);
      -webkit-transform: translate(420px,0);
      -o-transform: translate(420px,0);
      -moz-transform: translate(420px,0);
      z-index: 100;
      padding-left:35px;
      font-family: $font500;
      .container{
        width: 100%;
      }
      .open_sub_item{
        display: inline-block;
        position: relative;
        width: 15px;
        height:15px;
        background: url(../img/icon/arrow_menu.png) no-repeat center;
        vertical-align: bottom;
        margin-left: 15px;
        cursor: pointer;
      }
      &.show{
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
        -o-transform: translate(0,0);
        -moz-transform: translate(0,0);
      }
      li{
        padding-bottom:20px;
        color: #fff;
      }
      a{
        color: #fff;
        font-size:20px;
        text-decoration: none;
      }
      .sub{
        max-height:0;
        visibility: hidden;
        overflow: hidden;
        &.open{
          max-height: 500px;
          visibility: visible;
          margin-top:15px;
        }
      }
      .sub-menu{
        list-style-type: disc;
        padding-left:25px;
        transition: all .4s;
        a{
          font-family: $font300;
          font-size: 16px;
        }
        .sub-menu{
          a{
            font-family: $font300;
            font-size: 14px;
          }
        }
      }
    }
  }

  .buy_out {
    padding-top: 55px;
    .cooperate_wrap{
      .cooperate_block{
        width:49%;
      }
    }
  }
  .comfort{
    .comfort_wrap{
      .information{
        width: 60%;
      }
      .advantages{
        width:40%;
        height:320px;
        ul{
          padding-left: 10px;
          font-size: 14px;
          li{
            padding-left: 60px;
          }
        }
      }
    }
  }
  .redeemable_car{
    padding-top:40px;
    .car_item_wrap{
      justify-content: space-around;
    }
    .car_item{
      padding-left: 80px;
      &.commercial{
        background-position: -15px -350px;
        &.active{
          background-position: -15px -280px;
        }
      }
      &.new{
        background-position: 0 326px;
        &.active{
          background-position: 0 383px;
        }
      }
      &.previously_used{
        background-position: 0 204px;
        &.active{
          background-position: 0 265px;
        }
      }
      &.broken{
        background-position: 0 -67px;
        &.active{
          background-position: 0 -2px;
        }
      }
      &.moscow{
        background-position: 0 454px;
        &.active{
          background-position: 0 544px;
        }
      }
      &.region{
        background-position: 0 68px;
        &.active{
          background-position: 0 139px;
        }
      }
      &.corporate{
        background-position: 0px -480px;
        &.active{
          background-position: 0px -417px;
        }
      }
      &.car_park{
        background-position: 0px -210px;
        &.active{
          background-position: 0px -137px;
        }
      }
    }
    .car_img{
      background-size: contain;
    }
  }
  .bought_car{
    padding-top:40px;
  }
  .reviews_block{
    margin-top: 40px;
    height: 440px;
    .reviews_wrap{
      .reviews{
        width: 49%;
        height: 200px;
      }
    }
  }
  footer{
    nav.menu{
      display: none;
    }
    .phone_block{
      display: block;
      color: #fff;
      margin-bottom: 20px;
      .phone_block_wrap{
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding-bottom:10px;
      }
      p{
        position: relative;
        min-width: 150px;
        span{
          position: absolute;
          top: -15px;
          left: 0;
          font-size: 12px;
        }
      }
    }
    .address{
      .address_block{
        &.phone{
          display: none;
        }
        &.map{
          width:47%;
        }
        &.feedback{
          width: 40%;
        }
      }
    }
    .bottom_line{
      flex-wrap:wrap;
    }
    .social{
      position: relative;
      top:0;
      left:0;
      order: 1;
      width: 220px;
      margin-top:10px;
      ul{
        justify-content: space-around;
      }
    }
  }

  .brands {
    .car_item {
      margin-right: 41px;
      &:nth-child(6n) {
        margin-right: 41px;
      }
      &:nth-child(4n) {
        margin-right: 41px;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  #map {
    width: 100%;
    float: none;
  }

}
@media (max-width: 960px) {
  .feedback_block {
    .feedback_in{
      img{
        max-width: 35%;
      }

      .feedback_form{
        padding: 20px 0 0 20px;
        form{
        text-align: left;
          width: 40%;
      }
        p{
          font-size: 22px;
               width: 50%;
             }
      }
    }
  }
}

@media (max-width: 767px) {
  .bought_car {
    .bought_car_slider {
      overflow: hidden;
      .slick-prev {
        left: 10px;
      }
      .slick-next {
        right: 10px;
      }
    }
  }
  .partners {
    .partners_slider {
      overflow: hidden;
      .slick-prev {
        left: -10px;
      }
      .slick-next {
        right: -10px;
      }
    }
  }
  .container{
    width: 100%;
    padding: 0 15px;
  }
  header{
    .top_slider{
      .slick-prev{
        bottom: 15px;
        top: auto;
        left: calc(43% - 25px);
      }
      .slick-next{
        bottom: 15px;
        top: auto;
        right: calc(43% - 25px);
      }
      .slick-dots{
        display: none !important;
      }
    }
  }
  .buy_out{
    height: auto;
    padding-bottom: 30%;
    background-color: #fff;
    background-position: center bottom;
    background-size: 150%;
    .cooperate_wrap{
      display: block;
      .cooperate_block{
        width:100%;
        max-width: 465px;
        margin: 15px auto;
      }
    }
  }
  .comfort {
    .comfort_wrap {
      display: block;
      .information {
        width: 100%;

      }
      .advantages {
        width: 100%;
        max-width: 401px;
        margin: 0 auto;
      }
    }
  }
  .feedback_block{
    background-size: cover;
    height: 420px;
    .feedback_in{
      img{
        max-width: 100%;
        height: 120px;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }

      .feedback_form{
        padding: 40px 0;
        text-align: center;
        input{
          display: block;
          margin:0 auto;
        }
        form{
          text-align: center;
          width: 100%;
        }
        p{
          font-size: 18px;
          width: 90%;
          text-align: center;
          margin:0 auto;
        }
      }
    }
  }
  .preliminary_estimate{
    float: none;
    padding: 25px 0;
    width: 100%;
    .nav_road_title{
      padding-top: 20px;
      text-align: center;
    }
    .section_title h2{
      text-align: center;
      padding: 15px;
    }
    .section_title h1{
      text-align: center;
      padding: 15px;
    }
    .section_title p{
      padding: 0 15px 0;
      line-height: 22px;
      margin-bottom: 30px;
    }
    .application{

      input,select{
        width: 290px;
      }
      .jfilestyle{
        width:290px;
      }
    }
  }
  .modal_btn{
    width: 90%;
  }
  .modal{
    padding:0;
    .application {
      border-radius: 0;
      p{
        font-size: 18px;
      }
    }
  }

}
@media (max-width: 640px) {
  header{
    .top_slider{
      p{
        font-size: 30px;
        line-height: 35px;
      }
    }
  }
  .bought_car{
    height: auto;
    padding-bottom: 30px;
    .bought_car_slider{
      width: 315px;
      margin: 30px auto;
    }
  }
  .partners{
    .partners_slider{
      .slick-prev{
        left: 0;
      }
      .slick-next{
        right: 0;
      }
    }
  }
  footer{
    .footer_wrap{
      display: block;
    }
    .address{
      margin-top:15px;
      width:100%;
    }
    .bottom_line{
      display: block;
      .develop{
        display: none;
      }
    }
  }

  .brands {
    .car_item_wrap {
      justify-content: center;
    }
    .car_item {
      margin-right: 100px;
      &:nth-child(2n) {
        margin-right: 100px;
      }
      &:nth-child(3n) {
        margin-right: 100px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 520px) {
  .redeemable_car{
    height: auto;
  }
}

@media (min-width:320px) and (max-width: 480px) {
  .partners_display_no{
    display:none;
  }
  .breadcrumbs{
    text-align: center;
    margin-bottom:5px;
  }
  .bought_car {
    .bought_car_slider {
      overflow: visible;
      .slick-prev {
        left: -25px;
        top: 160px;
      }
      .slick-next {
        right: -25px;
        top: 160px;
      }
    }
  }
  .partners {
    .partners_slider {
      overflow: hidden;
      .slick-prev {
        left: -10px;

      }
      .slick-next {
        right: -10px;
      }
    }
  }
  .visible_large{
    display: none;
  }
  .visible_small{
    display: block;
  }
  header{
    nav.menu{
      width: 320px;
    }
    .top_line{
      .logo{
        width: 140px;
        a{
          letter-spacing: 3px;
        }
        img{
          width:130px;
        }
        span{
          font-size: 8px;
        }
      }
      .address{
        justify-content: space-between;
        .map{
          display: none;
        }
        .address_block{
          background: none;
          padding: 0;
          font-size:16px;
          a{
            display: none;
          }
        }
      }
    }
    .top_slider{
      p{
        font-size: 18px;
        line-height: 27px;
        margin-left:0;
        margin-top: 175px;
      }
      .slick-next{
        right: calc(40% - 25px);
      }
      .slick-prev{
        left: calc(40% - 25px);
      }
    }
  }
  .section_title h2 {
    font-size:18px;
    line-height: 25px;
  }
  .section_title h1 {
    font-size:18px;
    line-height: 25px;
  }
  .buy_out{
    .cooperate_wrap{
      .cooperate_block{
        height:68px;
        font-size: 16px;
        &.individual{
          background-position: 5px 2px;
          background-size: 55px auto;
          padding-left:0;
          &:hover{
            background-position: 5px -58px;
            background-size: 55px auto;
            padding-left:0;
          }
        }
        &.entity{
          background-position: 2px -5px;
          background-size: 62px auto;
          padding-left:18px;
          &:hover{
            background-position: 2px -76px;
            background-size: 62px auto;
            padding-left:18px;
          }
        }
      }
    }
  }
  .comfort{
    .comfort_wrap{
      .advantages{
        height: auto;
        ul{
          padding-left: 0;
          li{
            padding: 70px 40px 50px;
            text-align: center;
            &:before{
              top:0;
              left: calc(50% - 25px);
            }
            span{
              width:100%;
            }
          }
        }
      }
    }
  }
  .redeemable_car{
    height: auto;
    .car_img{
      display: none;
    }
  }
  .bought_car{
    .bought_car_slider{
      width:245px;
      .car_item{
        .car_photo{
          height:160px;
        }
      }
      .car_info{
        .name{
          font-size:14px;
        }
        span{
          font-size:9px;
        }
        .date_bought_wrap{
          width: 65px;
        }
        .bought_price{
          font-size: 10px;
          height: 34px;
          line-height: 30px;
        }
      }
    }
  }
  .reviews_block{
    height: 340px;
    .reviews_wrap{
      margin: 33px 0;
      .reviews{
        width:100%;
        height: 145px;
        &:last-child{
          display: none;
        }
      }
    }
  }
  footer{
    .address{
      flex-wrap: wrap;
      .address_block{
        padding-left: 20px;
        &.feedback{
          width:100%;
          order: 1;
          background-position: 0 2px;
          margin-top: 20px;
          padding-left: 30px;
        }
        &.map{
          width:100%;
          background-position: 0 0;
        }
      }
    }
    .footer_wrap{
      margin-bottom:20px;
    }
    .copyright{
      font-size: 12px;
    }
    .social{
      width:160px;
    }
    .phone_block{
      p{
        font-size: 14px;
      }
    }
  }
  .how_work_small {
    .work_item_wrap {
      display: block;
      .work_item {
        margin: 0 auto;
        margin-bottom: 40px;
        &:before {
          top: auto;
          bottom: -34px;
          right: calc(50% - 10px);
          transform: rotate(90deg);
        }
        &:last-child {
          &:before {
            display: none;
          }
        }
      }
      .img_item{
        margin: 10px auto;
      }
    }
  }

  .nav_road_title {
text-align: center;
    }
  .brands {
    .section_title h2{
      text-align: center;
    }
    .car_item_wrap {
    }
    .car_item {
      margin: 20px;
      &:nth-child(1n) {
        margin: 20px;
      }
    }
  }
  .contacts {
    margin: 0;
    .section_title h2 {
      text-align: center;
    }
    .container {
      padding: 0;
      .contacts_block {
        padding: 30px 15px 20px;
        .contacts_item{
          .address {
            margin-left: 25px;
          }
          .phone {
            margin-left: 8px;
          }
        }
      }
    }
  }
  #map {
    width: 100%;
    float: none;
    margin: 0;
    box-shadow: none;
  }
  .urgent_repayment {
    .redemption_cars {
      .watch_all{
        width: 100%;
      }
    }
    .section_title {h2{
      text-align: center;}   p{
                               padding:0;
                             }
    }

    .documents{
      text-align: center;
      figure{
        margin-top: 60px;
        figcaption{
          text-align: left;
        }
      }
    }
  }
  .preliminary_estimate_up{
    .container{
      padding: 0;
    }
    .preliminary_estimate{
      .application{
        border-radius: 0;
        p{
          font-size: 18px;
        }
      }
    }
  }
  .preliminary_estimate{
    .application {
      margin: 30px auto;
      padding: 0 15px;
      input{
        width:100%;
      }
      select{
        width:100%;
      }
      .modal_btn{
        width: 100%;
      }
    }
  }
}
//animate car adaptive
@media (max-width: 1150px) {
  .road .point .popover4 .bottom-section {
    left: 15px;
    top: 57%;
  }
}
@media (max-width: 860px) {
  .road .point .popover4 .bottom-section {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .road .point .popover1 .bottom-section {
    left: -71%;
    top: 44%;
    text-align: right;
  }
  .road .point .popover3 .bottom-section {
    left: -61%;
    top: 50%;
    text-align: right;
  }
  .road .point .popover4 .bottom-section {
    width: 180px;
  }
}
@media (max-width: 639px) {
  .road .point .popover1 .bottom-section {
    left: -10%;
    top: 68%;
  }
  .road .point .popover2 .bottom-section {
    right: -70%;
    top: 65%;
  }
  .road .point .popover3 .bottom-section {
    left: -15%;
    top: 74%;
    text-align: right;
  }
}
@media (max-width: 480px) {
  .how_work{
    height: 425px;
    background-position: 48% 0;
  }
  .road {
    width: 180px;
    .car{
      width:25px;
    }
    .point {
      .popover {
        font-size: 9px;
        width: 100px;
        height:100px;
        img {
          width: 100%;
        }
        .bottom-section{
          width:63px;
        }
      }
      .popover1{
        .bottom-section {
          left: -38%;
          top: 50%;
        }
      }
      .popover2{
        .bottom-section {
          right: -38%;
          top: 53%;
        }
      }
      .popover3{
        .bottom-section {
          left: -39%;
          top: 55%;
        }
      }
      .popover4{
        .bottom-section {
          left: 68%;
          top: 48%;
          font-size: 9px;
          width:80px;
        }
      }
    }
    .point1 {
      top: -8px;
      left: -17px;
    }
    .point2 {
      top: 55px;
      left: 42%;
    }
    .point3 {
      top: 123px;
      left: 7%;
    }
    .point4 {
      top: 217px;
      left: 61%;
    }
  }
}