@import "compass/reset";
@import "variables";
@import "fonts";

body{
  font-size: 16px;
  font-family: $font300;
  color: $main-color;
  background: #f7f9fa;
}

.container_ui{
  width: 940px;
  height:100%;
  margin: 0 auto;
}
.wrap_bg{
  .ui_title{
    padding-top: 50px;
    margin-bottom: -12px;
  }
}
.ui_title{
  padding-top:50px;
  padding-bottom:15px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 35px;
  margin-left: -7px;
  h2{
    font-size: 28px;
    color: #444;
    span{
      font-size:16px;
      color: #aaa;
    }
  }
}
.color{
  background: $main-color;
  height:210px;
  .img_wrap{
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.ui_name{
  background: #fff;
  font-size:59px;
  color: #555;
  height:155px;
  line-height: 155px;
  font-family:$font100;
}
.ui_title_font{
  font-size: 18px;
  color: #444;
  margin-bottom: 43px;
}
p.paragraph{
  margin-bottom:30px;
  line-height: 20px;
}
.font{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 60px;
  .content{
    width: 308px;
  }
  .links{
    width:235px;
  }
  a{
    display: block;
    font-family: $font700;
    color: $main-color;
    text-decoration: none;
    margin-bottom: 14px;
    &.hover{
      text-decoration: underline;
    }
    &.active{
      color: #092b40;
    }
    &.visible{
      color: #092b40;
      text-decoration: underline;
    }
  }

  h1, h2, h3, h4{
    font-family:$font700;
    margin-bottom: 23px;
  }
  h1{
    font-size: 26px;
  }
  h2{
    font-size:22px;
  }
  h3{
    font-size:20px;
  }
  h4{
    font-size: 18px;
  }
}
.paragraphs_wrap{
  padding-left:20px;
}
.two_column{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}
.three_column{
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}
blockquote{
  background: #fff;
  padding: 30px 100px;
  position: relative;
  font-family:$font700;
  &:before{
    content: '"';
    display: block;
    position: absolute;
    top: 5px;
    left: 2px;
    font-size: 50px;
    font-style: italic;
  }
  &:after{
    content: '"';
    display: block;
    position: absolute;
    bottom: 5px;
    right: 2px;
    font-size: 50px;
    font-style: italic;
    transform: rotate(180deg);
  }
}
.blockquotes_thesis{
  blockquote{
    margin-bottom:57px;
  }
}
.blockquotes_thesis_wrap{
  padding-left:20px;
}
.thesis{
  padding-left:35px;
  padding-right: 200px;
  border-left:4px solid $main-color;
}
.list_wrap{
  display: flex;
  justify-content: flex-start;
  ul{
    list-style-type: disc;
    padding:0 20px;
    li{
      margin-bottom: 12px;
      line-height: 23px;
    }
  }
  ol{
    list-style-type: decimal;
    padding:0 20px;
    li{
      margin-bottom: 12px;
      line-height: 23px;
    }
  }
}
.list_padding{
  padding-left:20px;
}
.tabs_padding{
  padding-left:20px;
}
.tabs {
  nav{
    text-align: left;
    margin-bottom:25px;
    li{
      display: inline-block;
      a{
        display: block;
        color: $main-color;
        text-decoration: none;
        padding:12px 14px;
        min-width: 128px;
        box-sizing: border-box;
        font-family:$font700;
        text-align: center;
        border-radius: 5px;
        transition: all .2s;
        &:hover{
          -webkit-box-shadow: 0 0 25px 5px rgba(0,0,0,0.2);
          -moz-box-shadow: 0 0 25px 5px rgba(0,0,0,0.2);
          box-shadow: 0 0 25px 5px rgba(0,0,0,0.2);
        }
      }
      &.tab-current{
        a{
          background: $main-color;
          color: #fff;

          -webkit-box-shadow: 0 0 25px 5px rgba(0,0,0,0.2);
          -moz-box-shadow: 0 0 25px 5px rgba(0,0,0,0.2);
          box-shadow: 0 0 25px 5px rgba(0,0,0,0.2);
        }
      }
    }
  }
  .content-wrap{
    .section{
      display: none;
    }
  }
  .content-current{
    display: block;
  }

}
.pagination{
  display: flex;
  justify-content: flex-start;
  margin-bottom:30px;
  .page{
    display: block;
    width: 31px;
    height:31px;
    border-radius: 50%;
    z-index: 10;
    opacity: 1;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    text-align: center;
    line-height: 30px;
    color: $main-color;
    text-decoration: none;
    font-family:$font300;
    margin-right:5px;
    &:hover{
      opacity: 1;
    }
    &.active{
      color: #e74c3c;
    }
  }
  .next, .prev{
    -webkit-box-shadow: 0 3px 5px 0 rgba(124,149,161,0.2);
    -moz-box-shadow: 0 3px 5px 0 rgba(124,149,161,0.2);
    box-shadow: 0 3px 5px 0 rgba(124,149,161,0.2);
    background: url(../img/icon/slider_arrow.png) center no-repeat #fff;
    background-size: 11px;
    &.disable{
      background: url(../img/icon/arrow_disable.png) center no-repeat $main-color;
      opacity:.3;
    }
  }
  .next{
    transform: rotate(180deg);
    transform-origin: 50%;
    -webkit-box-shadow: 0 -3px 5px 0 rgba(124, 149, 161, 0.2);
    -moz-box-shadow: 0 -3px 5px 0 rgba(124, 149, 161, 0.2);
    box-shadow: 0 -3px 5px 0 rgba(124, 149, 161, 0.2);
  }
}
.breadcrumbs{
  color: #9ba3a8;
  li{
    display: inline-block;
    padding-left: 10px;
    &:before{
      content: '>';
      margin-right: 10px;
    }
    &:first-child{
      padding: 0;
      &:before{
        display: none;
      }
    }
  }
  a{
    color: #9ba3a8;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
.buttons{
  .btn{
    width:140px;
    height: 48px;
    border-radius: 4px;
    font-family: $font700;
    border:none;
    margin-bottom:25px;
    margin-right: 20px;
    cursor: pointer;
    font-size:16px;
    &.accent{
      height:40px;
    }
  }
  .light{
    background: #fff;
    border: 2px solid $main-color;
    &.hover{
      background: $main-color;
      color: #fff;
    }
    &.active{
      background: #07273b;
      color: #fff;
    }
  }
  .dark{
    background: $main-color;
    color: #fff;
    &.hover{
      background: #07273b;
    }
    &.active{
      background: #3a6f90;
    }
  }
  .accent{
    background: $accent-color;
    color: #fff;
    &.hover{

    }
    &.active{
      background: #ee7265;
    }
  }
}
.form_wrap{
  display: flex;
  justify-content: flex-start;
  .input{
    width: 310px;
    input{
      outline: none;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      border-radius: 5px;
      background: #f7f8f9;
      padding-left: 12px;
      border: none;
      -webkit-box-shadow: inset 0px 3px 7px 3px rgba(0,0,0,0.05);
      -moz-box-shadow: inset 0px 3px 7px 3px rgba(0,0,0,0.05);
      box-shadow: inset 0px 3px 7px 3px rgba(0,0,0,0.05);
      margin-bottom:15px;
    }
    input:disabled{
      opacity: .5;
      cursor: not-allowed;
    }
    .active{
      background: #fff;
    }
    .error{
      border: 1px solid #e74c3c;
      &::-webkit-input-placeholder {color:#e74c3c;}
      &::-moz-placeholder          {color:#e74c3c;}/* Firefox 19+ */
      &:-moz-placeholder           {color:#e74c3c;}/* Firefox 18- */
      &:-ms-input-placeholder      {color:#e74c3c;}
    }
  }
  .checkbox{
    width: 120px;
    margin:0 40px;
    label{
      margin-bottom: 20px;
      display: block;
    }
    input[type="checkbox"]{
      display: none;
    }
    input[type="checkbox"] + label{
      padding-left: 25px;
      cursor: pointer;
      position: relative;
    }
    input[type="checkbox"] + label:before {
      content: '';
      position: absolute;
      left:0; top:-3px;
      width: 20px;
      height: 20px;
      background: url(../img/icon/check_box.png) no-repeat;
      background-position: 0;
    }
    input[type="checkbox"]:checked + label:before {
      background-position: -31px 0px;
    }
    input[type="radio"]{
      display: none;
    }
    input[type="radio"] + label{
      padding-left: 25px;
      cursor: pointer;
      position: relative;
    }
    input[type="radio"] + label:before {
      content: '';
      position: absolute;
      left:0; top:-3px;
      width: 20px;
      height: 20px;
      background: url(../img/icon/radio.png) no-repeat;
      background-position: 0;
    }
    input[type="radio"]:checked + label:before {
      background-position: -31px 0px;
    }
  }
  .alerts{
    div{
      width: 430px;
      height: 42px;
      border-radius: 4px;
      position: relative;
      font-family: $font700;
      line-height: 42px;
      padding-left: 15px;
      margin-bottom: 30px;
      .close{
        position: absolute;
        top: 0;
        right:15px;
        font-size:22px;
      }
    }
    .acceept_message{
      background: $main-color;
      color: #fff;
    }
    .error_message{
      background: $accent-color;
      color: #fff;
    }
  }
}
.select{
  width: 260px;
  height: 42px;

  color: $main-color;
  border: 1px solid $main-color;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    width: 20px;
    height:20px;
    top:10px;
    right: 10px;
    background: url(../img/icon/sellect_arrow.png) no-repeat center;
  }
  select{
    outline: none;
    width:100%;
    height:100%;
    position: absolute;
    background: #fff;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding-left:15px;
  }
}
.tables{
  table{
    width:100%;
    th{
      background: $main-color;
      color: #fff;
      font-family:$font700;
    }
    th, td{
      height:43px;
      padding:0 15px;
    }
    .number{
      width:170px;
    }
  }
}
.img_left{
  &.paragraph{
    line-height: 26px;
  }
  img{
    float: left;
    margin-right: 40px;
  }
}
.img_right{
  &.paragraph{
    line-height: 26px;
  }
  img{
    float: right;
    margin-left: 40px;
  }
}